<section class='signup-container'>
  <div class='signup-wrapper'>
    <h2 class='title-text'>Search</h2>
    <div class='signup-content'>
      <form name='signupForm' onsubmit='handleSearch(event)' novalidate autocomplete='off'>
        <div class='signup-form-wrapper'>

          <div class='section-row'>
            <div class='half-column user-location'>
              <div class='display-flex space-between'>
                <label for='locationInput'>Locations (up to 5)</label>
              </div>

              <div class='autocomplete'>
                <div class='user-location-selection'></div>
                <input id='locationInput' class='input-text-field' type='text' />
                <div id='location-results'></div>
              </div>
            </div>

            <div class='half-column user-languages'>
              <div class='display-flex space-between'>
                <label for='languageInput'>Languages (up to 3)</label>
              </div>

              <div class='autocomplete'>
                <div class='user-languages-selection'></div>
                <input id='languageInput' class='input-text-field' type='text' />
                <div id='language-results'></div>
              </div>
            </div>
          </div>

          <div class='section-row'>
            <div class='half-column user-profession'>
              <div class='display-flex space-between'>
                <label for='professionInput'>Professions (up to 3)<span id='profession-error-message'></span></label>
              </div>

              <input id='professionInput' class='input-text-field' type='text' placeholder='Search' />
              <div class='boxed-list' id='professions-list'></div>
            </div>

            <div class='half-column user-hobbies'>
              <div class='display-flex space-between'>
                <label for='hobbiesInput'>Interests (up to 5)<span id='hobbies-error-message'></span></label>
              </div>

              <input id='hobbiesInput' class='input-text-field' type='text' placeholder='Search' />
              <div class='boxed-list' id='hobbies-list'></div>
            </div>
          </div>

          <div class='section-row'>
            <div id="maritalStatus" class='half-column'>
              <div class='display-flex space-between'>
                <label class='section-label'>Marital Status</label>
              </div>

              <label class='section-label' for='Never Married'>
                <input class='marital-status' type='checkbox' id='Never Married'>
                <span>
                  Never Married
                </span>
              </label>

              <label class='section-label' for='Divorced'>
                <input class='marital-status' type='checkbox' id='Divorced'>
                <span>
                  Divorced
                </span>
              </label>

              <label class='section-label' for='Widowed'>
                <input class='marital-status' type='checkbox' id='Widowed'>
                <span>
                  Widowed
                </span>
              </label>
            </div>

            <div class='half-column'>
              <div id="religiousConviction" class='display-flex space-between'>
                <label class='section-label'>Conviction</label>
              </div>

              <label class='section-label' for='Sunni'>
                <input class='religious-convictions' type='checkbox' id='Sunni'>
                <span>
                  Sunni
                </span>
              </label>

              <label class='section-label' for='Shia'>
                <input class='religious-convictions' type='checkbox' id='Shia'>
                <span>
                  Shia
                </span>
              </label>

              <label class='section-label' for='Just Muslim'>
                <input class='religious-convictions' type='checkbox' id='Just Muslim'>
                <span>
                  Just Muslim
                </span>
              </label>
            </div>
          </div>

          <div class="section-row">
            <div class='half-column'>
              <div class='display-flex space-between'>
                <label class='section-label'>Values</label>
              </div>

              <label class='section-label' for='Conservative'>
                <input class='religious-values' type='checkbox' id='Conservative'>
                <span>
                  Conservative
                </span>
              </label>

              <label class='section-label' for='Moderate'>
                <input class='religious-values' type='checkbox' id='Moderate'>
                <span>
                  Moderate
                </span>
              </label>

              <label class='section-label' for='Liberal'>
                <input class='religious-values' type='checkbox' id='Liberal'>
                <span>
                  Liberal
                </span>
              </label>
            </div>

            <div class='half-column'>
              <div class='display-flex space-between'>
                <label class='section-label'>Education</label>
              </div>

              <label class='section-label' for='High School'>
                <input class='education' type='checkbox' id='High School'>
                High School
              </label>

              <label class='section-label' for='Associate degree'>
                <input class='education' type='checkbox' id='Associate degree'>
                Associate degree
              </label>

              <label class='section-label' for="Bachelor's degree">
                <input class='education' type='checkbox' id="Bachelor's degree">
                Bachelor&#x27;s degree
              </label>

              <label class='section-label' for="Master's degree">
                <input class='education' type='checkbox' id="Master's degree">
                Master&#x27;s degree
              </label>

              <label class='section-label' for='Doctoral degree'>
                <input class='education' type='checkbox' id='Doctoral degree'>
                Doctoral degree
              </label>
            </div>
          </div>

          <div class="section-row">
            <div class='half-column'>
              <div class='display-flex space-between'>
                <label>Has children</label>
              </div>

              <label class='section-label' for='hasChildrenYes'>
                <input type='radio' name='has-children' id='hasChildrenYes'>
                <span>
                  Yes
                </span>
              </label>

              <label class='section-label' for='hasChildrenNo'>
                <input type='radio' name='has-children' id='hasChildrenNo'>
                <span>
                  No
                </span>
              </label>

              <label class='section-label' for='hasChildrenDoesNotMatter'>
                <input type='radio' name='has-children' id='hasChildrenDoesNotMatter'>
                <span>
                  Doesn&#x27;t matter
                </span>
              </label>
            </div>

            <div class='half-column'>
              <div class='display-flex space-between'>
                <label>Wants children</label>
              </div>

              <label class='section-label' for='wantsChildrenYes'>
                <input type='radio' name='wants-children' id='wantsChildrenYes'>
                Yes
              </label>

              <label class='section-label' for='wantsChildrenNo'>
                <input type='radio' name='wants-children' id='wantsChildrenNo'>
                No
              </label>

              <label class='section-label' for='wantsChildrenDoesNotMatter'>
                <input type='radio' name='wants-children' id='wantsChildrenDoesNotMatter'>
                Doesn&#x27;t matter
              </label>
            </div>
          </div>

          <div class="section-row">
            <div class='half-column'>
              <div class='display-flex space-between'>
                <label>Hijab</label>
              </div>

              <label class='section-label' for='hijabYes'>
                <input type='radio' name='hijab' id='hijabYes'>
                Yes
              </label>

              <label class='section-label' for='hijabNo'>
                <input type='radio' name='hijab' id='hijabNo'>
                No
              </label>

              <label class='section-label' for='hijabDoesNotMatter'>
                <input type='radio' name='hijab' id='hijabDoesNotMatter'>
                Doesn&#x27;t matter
              </label>
            </div>

            <div class='half-column'>
              <div class='display-flex space-between'>
                <label>Smokes</label>
              </div>

              <label class='section-label' for='smokesYes'>
                <input type='radio' name='smokes' id='smokesYes'>
                Yes
              </label>

              <label class='section-label' for='smokesNo'>
                <input type='radio' name='smokes' id='smokesNo'>
                No
              </label>

              <label class='section-label' for='smokesDoesNotMatter'>
                <input type='radio' name='smokes' id='smokesDoesNotMatter'>
                Doesn&#x27;t matter
              </label>
            </div>
          </div>

          <div class="section-row">
            <div class='half-column'>
              <div class='display-flex space-between'>
                <label class='section-label'>Diet</label>
              </div>

              <label class='section-label' for='Halal only'>
                <input class='diet' type='checkbox' id='Halal only'>
                Halal only
              </label>

              <label class='section-label' for='Halal when possible'>
                <input class='diet' type='checkbox' id='Halal when possible'>
                Halal when possible
              </label>

              <label class='section-label' for='Eat anything'>
                <input class='diet' type='checkbox' id='Eat anything'>
                Eat anything
              </label>

              <label class='section-label' for='Eat anything except pork'>
                <input class='diet' type='checkbox' id='Eat anything except pork'>
                Eat anything except pork
              </label>

              <label class='section-label' for='Vegetarian'>
                <input class='diet' type='checkbox' id='Vegetarian'>
                Vegetarian
              </label>
            </div>

            <div class='half-column'>
              <div class='display-flex space-between'>
                <label class='section-label'>Prayer Level</label>
              </div>

              <label class='section-label' for='Rarely'>
                <input class='prayer-level' type='checkbox' id='Rarely'>
                Rarely
              </label>

              <label class='section-label' for='Sometimes'>
                <input class='prayer-level' type='checkbox' id='Sometimes'>
                Sometimes
              </label>

              <label class='section-label' for='Always'>
                <input class='prayer-level' type='checkbox' id='Always'>
                Always
              </label>
            </div>
          </div>

          <div class='section-row'>
            <div class='half-column'>
              <div class='display-flex space-between'>
                <label>Age Range</label>
              </div>

              <div class='age-range-wrapper'>
                <p>Between</p>
                <div class='min-age-wrapper'>
                  <p><span class='min-age-range'></span></p>
                </div>
                <p><span>and</span></p>
                <div class='max-age-wrapper'>
                  <p><span class='max-age-range'></span></p>
                </div>
                <p>years old</p>
              </div>

              <div class='double-range-wrapper'>
                <div class='age-range-slider-track'></div>
                <input type='range' min='18' max='60' value='18' class='min-age-slider' oninput='minAge()'>
                <input type='range' min='18' max='60' value='60' class='max-age-slider' oninput='maxAge()'>
              </div>
            </div>

            <div class='half-column'>
              <div class='display-flex space-between'>
                <label>Height</label>
              </div>

              <div class='height-range-wrapper'>
                <p>Between&nbsp;</p>
                <div class='min-height-wrapper'>
                  <p class='min-height-range-imperial-value'></p>
                  <p class='min-height-range-metric-value'></p>
                </div>
                <p><span>&nbsp;and&nbsp;</span></p>
                <div class='max-height-wrapper'>
                  <p class='max-height-range-imperial-value'></p>
                  <p class='max-height-range-metric-value'></p>
                </div>
              </div>

              <div class='double-range-wrapper'>
                <div class='heights-slider-track'></div>
                <input type='range' min='147' max='196' value='147' class='min-height-slider' oninput='minHeight()'>
                <input type='range' min='147' max='196' value='196' class='max-height-slider' oninput='maxHeight()'>
              </div>
            </div>
          </div>

          <div class='section-row baseline'>
            <div class='half-column'>
              <div class='user-ethnicity'>
                <div class='display-flex space-between'>
                  <label for='ethnicityInput'>Ethnicities (up to 3)</label>
                </div>

                <div class='autocomplete'>
                  <div class='user-ethnicity-selection'></div>
                  <input id='ethnicityInput' class='input-text-field' type='text' />
                  <div id='ethnicity-results'></div>
                </div>
              </div>
            </div>

            <div class='half-column'>
              <label class='section-label'>Sort results by</label>
              <div class='padding-bottom'>
                <select id='sort-results'>
                  <option value='lastActive'>Last Active</option>
                  <option value='newestMembers'>Newest Members</option>
                  <option value='nearestToYou'>Nearest To You</option>
                </select>
              </div>

              <label class='section-label' for='photos-only-checkbox'>
                <input type='checkbox' id='photos-only-checkbox'>
                Profiles with photos only
              </label>
            </div>
          </div>

          <div class='section-row search-button-wrapper'>
            <div class='half-column'>
              <div id='search-button-loading-spinner-wrapper' class='full-width'>
                <button type='submit' class='form-submit-search-button'>
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
