<div class='signup-container'>
  <section>
    <div class='signup-wrapper'>
      <div class='signup-content'>
        <form name='signupForm' enctype='multipart/form-data' onsubmit='return false' novalidate autocomplete='off'>
          <div class='form-header'>
            <h2 class='form-title'></h2>
          </div>
          <p class='form-subtitle'>
            Please answer some additional questions to find the right matches.
          </p>
          <p class='form-errors'>Please fix the errors below</p>

          <section class='form-row'>
            <div class='dob-container'>
              <div class='label-wrapper'>
                <label for='birth_date'>Birth date</label>
              </div>
              <div class='dob-wrapper'>
                <div class='select' id='dob-month'>
                  <select class='select-wrapper' onchange='handleBirthMonth(event)'>
                    <option>Select Month</option>
                    <option value='01'>January</option>
                    <option value='02'>February</option>
                    <option value='03'>March</option>
                    <option value='04'>April</option>
                    <option value='05'>May</option>
                    <option value='06'>June</option>
                    <option value='07'>July</option>
                    <option value='08'>August</option>
                    <option value='09'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                  </select>
                </div>
                <div class='select' id='dob-day'>
                  <select class='select-wrapper' onchange='handleBirthDay(event)'></select>
                </div>
                <div class='select' id='dob-year'>
                  <select class='select-wrapper' onchange='handleBirthYear(event)'></select>
                </div>
              </div>
            </div>
          </section>

          <section class='form-row select-container'>
            <div class='gender-container form-radio'>
              <div class='label-wrapper'>
                <label for='gender'>Gender</label>
              </div>
              <div class='flex radio-buttons-wrapper' id='gender'>
                <input type='radio' name='gender' id='male' onchange='handleGender("male")' />
                <label for='male'>Male</label>
                <input type='radio' name='gender' id='female' onchange='handleGender("female")' />
                <label for='female'>Female</label>
              </div>
            </div>

            <div class='hijab-container'>
              <div class='label-wrapper'>
                <label>Hijab</label>
              </div>
              <div class='select' id='hijab'>
                <select class='hijab' onchange='handleHijab(event)'>
                  <option>Select One</option>
                  <option value='hijabYes'>Yes</option>
                  <option value='hijabNo'>No</option>
                </select>
              </div>
            </div>
          </section>

          <section class='form-row'>
            <div class='form-row user-location'>
              <div class='label-wrapper'>
                <label for='locationInput'>What city do you live in?</label>
              </div>
              <div class='autocomplete'>
                <div class='user-location-selection'></div>
                <input id='locationInput' class='location' type='text' />
                <div id='location-results'></div>
              </div>
            </div>
            <div id='city'></div>

            <div class='form-row country-user-raised-in'>
              <div class='label-wrapper'>
                <label for='countryRaisedInInput'>Where were you raised?</label>
              </div>
              <div class='autocomplete'>
                <div class='country-user-raised-in-selection'></div>
                <input id='countryRaisedInInput' class='country-raised-in' type='text' />
                <div id='country-raised-in-results'></div>
              </div>
            </div>
            <div id='country-raised-in'></div>

            <div class='form-row user-ethnicity'>
              <div class='label-wrapper'>
                <label for='ethnicityInput'>What is your ethnicity?</label>
              </div>
              <div class='autocomplete'>
                <div class='user-ethnicity-selection'></div>
                <input id='ethnicityInput' class='ethnicity' type='text' />
                <div id='ethnicity-results'></div>
              </div>
            </div>
            <div id='ethnicity'></div>

            <div class='user-languages'>
              <div class='label-wrapper'>
                <label for='languageInput'>What language(s) do you speak?</label>
              </div>
              <div class='autocomplete'>
                <div class='user-languages-selection'></div>
                <input id='languageInput' class='languages' type='text' />
                <div id='language-results'></div>
              </div>
            </div>
            <div id='languages'></div>
          </section>

          <section class='form-row select-container'>
            <div>
              <div class='label-wrapper'>
                <label>Conviction</label>
              </div>
              <div class='select' id='religious-conviction'>
                <select class='select-wrapper' onchange='handleConviction(event)'>
                  <option>Select Conviction</option>
                  <option value='Sunni'>Sunni</option>
                  <option value='Shia'>Shia</option>
                  <option value='Just Muslim'>Just Muslim</option>
                </select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Values</label>
              </div>
              <div class='select' id='religious-values'>
                <select class='select-wrapper' onchange='handleReligiousValues(event)'>
                  <option>Select Values</option>
                  <option value='Conservative'>Conservative</option>
                  <option value='Moderate'>Moderate</option>
                  <option value='Liberal'>Liberal</option>
                </select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Marital Status</label>
              </div>
              <div class='select' id='marital-status'>
                <select class='select-wrapper' onchange='handleMaritalStatus(event)'>
                  <option>Select Marital Status</option>
                  <option value='Never Married'>Never Married</option>
                  <option value='Divorced'>Divorced</option>
                  <option value='Widowed'>Widowed</option>
                </select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Education</label>
              </div>
              <div class='select' id='education'>
                <select class='select-wrapper' onchange='handleEducation(event)'>
                  <option selected>Education Level</option>
                  <option value='High School'>High School</option>
                  <option value='Associate degree'>Associate degree</option>
                  <option value='Bachelor&#x27;s degree'>Bachelor&#x27;s degree</option>
                  <option value='Master&#x27;s degree'>Master&#x27;s degree</option>
                  <option value='Doctoral degree'>Doctoral degree</option>
                </select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Profession</label>
              </div>
              <div class='select' id='profession'>
                <select class='select-wrapper' onchange='handleProfession(event)'></select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Height</label>
              </div>
              <div class='select' id='user-height'>
                <select class='select-wrapper' onchange='handleHeight(event)'></select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Can you relocate?</label>
              </div>
              <div class='select' id='can-relocate'>
                <select class='select-wrapper' onchange='handleCanRelocate(event)'>
                  <option>Select One</option>
                  <option value='canRelocateYes'>Yes</option>
                  <option value='canRelocateNo'>No</option>
                </select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Diet</label>
              </div>
              <div class='select' id='diet'>
                <select class='select-wrapper' onchange='handleDiet(event)'>
                  <option>Select Diet</option>
                  <option value='Halal only'>Halal only</option>
                  <option value='Halal when possible'>Halal when possible</option>
                  <option value='Eat anything'>Eat anything</option>
                  <option value='Eat anything except pork'>Eat anything except pork</option>
                  <option value='Vegetarian'>Vegetarian</option>
                </select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Do you have children?</label>
              </div>
              <div class='select' id='has-children'>
                <select class='select-wrapper' onchange='handleHasChildren(event)'>
                  <option>Select One</option>
                  <option value='hasChildrenYes'>Yes</option>
                  <option value='hasChildrenNo'>No</option>
                </select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Do you want children?</label>
              </div>
              <div class='select' id='wants-children'>
                <select class='select-wrapper' onchange='handleWantsChildren(event)'>
                  <option>Select One</option>
                  <option value='wantsChildrenYes'>Yes</option>
                  <option value='wantsChildrenNo'>No</option>
                  <option value='wantsChildrenMaybe'>Maybe</option>
                </select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Do you smoke?</label>
              </div>
              <div class='select' id='smokes'>
                <select class='select-wrapper' onchange='handleSmokes(event)'>
                  <option>Select One</option>
                  <option value='smokesYes'>Yes</option>
                  <option value='smokesNo'>No</option>
                </select>
              </div>
            </div>
            <div>
              <div class='label-wrapper'>
                <label>Prayer level</label>
              </div>
              <div class='select' id='prayer-level'>
                <select class='select-wrapper' onchange='handlePrayerLevel(event)'>
                  <option>Select One</option>
                  <option value='Rarely'>Rarely</option>
                  <option value='Sometimes'>Sometimes</option>
                  <option value='Always'>Always</option>
                </select>
              </div>
            </div>
          </section>

          <section class='form-row'>
            <div class='user-hobbies'>
              <div class='display-flex space-between'>
                <div class='label-wrapper'>
                  <label for='hobbiesInput'>Interests (up to 5)<span id='hobbies-error-message'></span></label>
                </div>
              </div>

              <input id='hobbiesInput' class='input-text-field hobbies' type='text' placeholder='Search' />
              <div class='boxed-list' id='hobbies-list'></div>
            </div>
          </section>

          <section class='form-row'>
            <div class='label-wrapper'>
              <label for='about-me'>About Me</label>
            </div>
            <div id='about-me-error-text'></div>
            <textarea class='about-me' id='about-me' name='about-me' placeholder='Describe yourself.'></textarea>
            <p class='character-count' id='about-me-character-count'>0/100</p>
          </section>

          <section class='form-row'>
            <div class='label-wrapper'>
              <label for='about-my-match'>About My Match</label>
            </div>
            <div id='about-my-match-error-text'></div>
            <textarea class='about-my-match' id='about-my-match' name='about-my-match'
              placeholder='Describe your ideal match.'></textarea>
            <p class='character-count' id='about-my-match-character-count'>0/100</p>
          </section>

          <div class='form-row'>
            <h3 class='photos-header'>Photos</h3>
            <p class='photos-subtitle'>
              Photos are optional, but highly recommended.
            </p>
            <div class='photo-error'></div>
            <div class='images-wrapper'></div>
          </div>

          <div class='signup-button-wrapper'>
            <div class='submit-loading-spinner'>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <button type='submit' onclick='handleCreateNewAccount()' class='form-submit signup-button'
              id='createNewAccount'>
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
