<div class="full-page-loading-spinner">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="signup-container">
  <section>
    <div class="signup-wrapper">
      <div class="signup-content">
        <div id="signup-error"></div>
        <div id="slow-network-warning">
          <p class="slow-network-message"></p>
        </div>
        <form
          name="signupForm"
          enctype="multipart/form-data"
          onsubmit="return false"
          novalidate
          autocomplete="off"
        >
          <h2 class="form-title"></h2>
          <p class="form-subtitle">
            Please answer a few short questions to find the right matches.
          </p>

          <div class="form-row">
            <div class="dob-container form-group form-icon">
              <label for="birth_date">Birth date</label>
              <div class="dob-wrapper">
                <select
                  class="form-control form-control-sm"
                  id="dob-month"
                  onchange="handleBirthMonth(event)"
                >
                  <option selected disabled>Month</option>
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
                <select
                  class="form-control form-control-sm"
                  id="dob-day"
                  onchange="handleBirthDay(event)"
                >
                  <script type="module">
                    import { birthDay } from "/static/client/views/landing-pages/signup-profile/js/helpers.js";
                    birthDay();
                  </script>
                </select>
                <select
                  class="form-control form-control-sm"
                  id="dob-year"
                  onchange="handleBirthYear(event)"
                >
                  <script type="module">
                    import { birthYear } from "/static/client/views/landing-pages/signup-profile/js/helpers.js";
                    birthYear();
                  </script>
                </select>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="gender-container form-radio">
              <label for="gender">Gender</label>
              <div class="form-flex">
                <input type="radio" name="gender" id="male" onchange="handleGender('male')" />
                <label for="male">Male</label>
                <input type="radio" name="gender" id="female" onchange="handleGender('female')" />
                <label for="female">Female</label>
              </div>
            </div>
          </div>

          <div class="form-row user-location">
            <div class="autocomplete">
              <input
                id="locationInput"
                class="location"
                type="text"
                placeholder="Your city"
              />
              <div id="results"></div>
            </div>
            <script type="module">
              import { userLocation } from "/static/client/views/landing-pages/signup-profile/js/helpers.js";
              userLocation();
            </script>
          </div>
          <div id="city-error"></div>

          <div class="form-row user-location">
            <div class="autocomplete">
              <input
                id="ethnicityInput"
                class="ethnicity"
                type="text"
                placeholder="Family background"
              />
              <div id="ethnicityResults"></div>
            </div>
            <script type="module">
              import { userEthnicity } from "/static/client/views/landing-pages/signup-profile/js/helpers.js";
              userEthnicity();
            </script>
          </div>
          <div id="ethnicity-error"></div>

          <h3 class="photos-header">Photos</h3>
          <div class="invalid-file-type">
            Please upload only JPEG or PNG
          </div>
          <div class="images-wrapper">
            <input
              type="file"
              name="image-1"
              class="image-1"
              hidden="hidden"
              accept=".jpg,.jpeg,.png"
            />
            <div class="image-upload-container">
              <div class="custom-button-1"></div>
              <div class="image-upload-1">
                <img src="" class="image-preview-1" />
              </div>
              <div class="remove-image-1"></div>
              <div class="processing-bar-1"></div>
              <div class="success-box-1"></div>
            </div>
            <input
              type="file"
              name="image-2"
              class="image-2"
              hidden="hidden"
              accept=".jpg,.jpeg,.png"
            />
            <div class="image-upload-container">
              <div class="custom-button-2"></div>
              <div class="image-upload-2">
                <img src="" class="image-preview-2" />
              </div>
              <div class="remove-image-2"></div>
              <div class="processing-bar-2"></div>
              <div class="success-box-2"></div>
            </div>
            <input
              type="file"
              name="image-3"
              class="image-3"
              hidden="hidden"
              accept=".jpg,.jpeg,.png"
            />
            <div class="image-upload-container">
              <div class="custom-button-3"></div>
              <div class="image-upload-3">
                <img src="" class="image-preview-3" />
              </div>
              <div class="remove-image-3"></div>
              <div class="processing-bar-3"></div>
              <div class="success-box-3"></div>
            </div>

            <input
              type="file"
              name="image-4"
              class="image-4"
              hidden="hidden"
              accept=".jpg,.jpeg,.png"
            />
            <div class="image-upload-container">
              <div class="custom-button-4"></div>
              <div class="image-upload-4">
                <img src="" class="image-preview-4" />
              </div>
              <div class="remove-image-4"></div>
              <div class="processing-bar-4"></div>
              <div class="success-box-4"></div>
            </div>
            <input
              type="file"
              name="image-5"
              class="image-5"
              hidden="hidden"
              accept=".jpg,.jpeg,.png"
            />
            <div class="image-upload-container">
              <div class="custom-button-5"></div>
              <div class="image-upload-5">
                <img src="" class="image-preview-5" />
              </div>
              <div class="remove-image-5"></div>
              <div class="processing-bar-5"></div>
              <div class="success-box-5"></div>
            </div>
            <input
              type="file"
              name="image-6"
              class="image-6"
              hidden="hidden"
              accept=".jpg,.jpeg,.png"
            />
            <div class="image-upload-container">
              <div class="custom-button-6"></div>
              <div class="image-upload-6">
                <img src="" class="image-preview-6" />
              </div>
              <div class="remove-image-6"></div>
              <div class="processing-bar-6"></div>
              <div class="success-box-6"></div>
            </div>
          </div>

          <div class="form-group signup-button-wrapper">
            <div class="submit-loading-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <button
              type="submit"
              onclick="handleCreateNewAccount()"
              class="form-submit signup-button"
              name="createNewAccount"
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
