@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/static/client/fonts/montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/static/client/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('/static/client/fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/static/client/fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/static/client/fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/static/client/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('/static/client/fonts/montserrat/Montserrat-BoldItalic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url('/static/client/fonts/montserrat/montserrat-v12-latin-900.ttf'),
    url('/static/client/fonts/montserrat/montserrat-v12-latin-900.eot') format('embedded-opentype'),
    url('/static/client/fonts/montserrat/montserrat-v12-latin-900.svg') format('woff2'),
    url('/static/client/fonts/montserrat/montserrat-v12-latin-900.woff') format('woff'),
    url('/static/client/fonts/montserrat/montserrat-v12-latin-900.woff2') format('truetype');
}

body {
  font-size: 14px;
  color: #222;
  font-weight: 400;
  background: #ffffff;
}

p {
  font-size: 15px;
  margin-bottom: 0px;
  color: #777;
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input {
  border: 1px solid transparent;
  padding: 10px;
  font-size: 16px;
}

input[type='text'] {
  width: 100%;
}

input[type='submit'] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  font-weight: 700;
  font-size: 14px;
  color: #727272;
  margin-bottom: 3px;
}

input {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat';
}

input:focus {
  border: 1px solid #6dabe4;
}

input::-webkit-input-placeholder {
  color: #999;
  font-weight: 600;
}

input::-moz-placeholder {
  color: #999;
  font-weight: 600;
}

input:-ms-input-placeholder {
  color: #999;
  font-weight: 600;
}

input:-moz-placeholder {
  color: #999;
  font-weight: 600;
}

select {
  width: 100%;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.35rem center/8px 10px;
  padding: 5px 10px;
  line-height: 1.5;
  border: 1px solid #ced4da;
  color: #495057;
  font-weight: 400;
  font-size: 14px;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

textarea {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  padding: 8px;
  resize: none;
  border: 1px solid #ebebeb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

input[type='checkbox'] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}

input[type='radio'] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}

input[type='number'] {
  -moz-appearance: textfield !important;
  appearance: none !important;
  -webkit-appearance: none !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px transparent inset;
  -moz-box-shadow: 0 0 0 30px transparent inset;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -o-box-shadow: 0 0 0 30px transparent inset;
  -ms-box-shadow: 0 0 0 30px transparent inset;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat';
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

a {
  color: #1da0f2;
}

display-flex,
.form-flex {
  display: flex;
  display: -webkit-flex;
}

list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  background: linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
  background: -webkit-linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
  background: -o-linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
  background: -moz-linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
}

.signup-wrapper {
  width: 660px;
  position: relative;
  margin: 0 auto;
}

#signup-success {
  display: none;
  text-align: center;
  color: white;
}

.signup-content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px;
}

.form-header {
  width: 100%;
  height: 40px;
}

.form-title {
  line-height: 40px;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat';
  font-size: 24px;
  text-transform: none;
  text-align: center;
}

.form-subtitle {
  text-align: center;
  padding-bottom: 8px;
}

.form-errors {
  display: none;
  width: 100%;
  text-align: center;
  color: red;
  padding-bottom: 16px;
}

.form-group {
  overflow: hidden;
}

.user-location,
.user-ethnicity,
.country-user-raised-in,
.user-hobbies {
  position: relative;
  padding-bottom: 4px;
}

.autocomplete {
  position: relative;
}

.location,
.ethnicity,
.country-raised-in,
.languages {
  height: 36px;
}

.hobbies {
  height: 36px;
}

.character-count {
  display: flex;
  justify-content: flex-end;
}

.user-selection-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 2px;
  padding: 4px;
  z-index: 1;
}

.user-selection-wrapper {
  display: none;
  color: #ffffff;
  padding: 4px 8px;
  margin-right: 4px;
  border-radius: 5px;
  background: linear-gradient(57deg, #009e85 0%, #006353 100%);
}

.user-selection-content {
  margin-right: 8px;
}

.user-selection-remove-wrapper {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009e85;
  color: #ffffff;
  border-radius: 50%;
}

.user-selection-remove-wrapper:hover {
  cursor: pointer;
  background-color: #008a74;
}

#city-error,
#ethnicity-error,
#country-raised-in-error,
#languages-error,
#about-me-error-text,
#about-my-match-error-text {
  display: none;
  color: red;
  padding-bottom: 12px;
}

.select-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  grid-row-gap: 16px;
  margin-bottom: 7px;
}

/* Used in client/views/landing-pages/signup-profile/js/helpers.js */
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /* position the autocomplete items to be the same width as the container: */
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d4d4d4;
}

/* when hovering an item: */
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/* Used in client/views/landing-pages/signup-profile/js/helpers.js */
/* When navigating through the items using the arrow keys: */
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.form-submit {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: none;
  cursor: pointer;
  background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
  background-image: linear-gradient(to left, #74ebd5, #9face6);
}

.form-submit:hover {
  background-image: linear-gradient(to left, #5ae8ce, #8d9ce3);
}

/* Used in client/views/landing-pages/signup-profile/js/handleCreateNewAccount.js */
.form-error {
  border: 1px solid red;
  border-radius: 5px;
}

.form-row {
  padding-bottom: 16px;
}

.dob-container {
  width: 100%;
}

.gender-container {
  width: 50%;
}

.hijab-container {
  display: none;
  width: 100%;
}

.form-group,
.form-radio {
  position: relative;
}

.dob-wrapper {
  display: flex;
}

.dob-wrapper select {
  margin-right: 6px;
}

.dob-wrapper select:last-child {
  margin-right: 0;
}

.form-radio input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.form-radio input + label {
  margin: 0px;
  padding: 5px 10px;
  line-height: 1.5;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ebebeb;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #888;
  text-align: center;
  text-transform: none;
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out,
    box-shadow 0.15s ease-out;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.form-radio input:checked + label {
  background-color: #1da0f2;
  color: #fff;
  border-color: #6dabe4;
  z-index: 1;
}

.form-radio input:focus + label {
  outline: none;
}

.form-radio input:hover {
  background-color: #6dabe4;
  color: #fff;
  border-color: #6dabe4;
}

.form-flex input + label:first-of-type {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
}

.form-flex input + label:last-of-type {
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-left: none;
}

/* ************************************************** */

.photos-header {
  text-align: center;
  margin: 0;
  line-height: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #727272;
}

.photos-subtitle {
  font-size: 3.5vw;
  margin-bottom: 16px;
  text-align: center;
}

@media (min-width: 600px) {
  .photos-subtitle {
    font-size: 15px;
  }
}

.invalid-file-type {
  display: none;
  text-align: center;
  color: red;
  margin-bottom: 16px;
}

.images-wrapper {
  --grid-size: 87px;
  display: grid;
  grid-template-columns: repeat(3, var(--grid-size));
  grid-template-rows: repeat(2, var(--grid-size));
  grid-gap: 10px;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 16px;
}

.image-upload-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-preview-0,
.image-preview-1,
.image-preview-2,
.image-preview-3,
.image-preview-4,
.image-preview-5 {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.remove-image-0,
.remove-image-1,
.remove-image-2,
.remove-image-3,
.remove-image-4,
.remove-image-5 {
  display: none;
  height: 24px;
  width: 24px;
  background: #727272;
  border-radius: 30px;
  position: absolute;
  bottom: -8px;
  right: -8px;
}

.remove-image-0:after,
.remove-image-1:after,
.remove-image-2:after,
.remove-image-3:after,
.remove-image-4:after,
.remove-image-5:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '\d7';
  font-size: 24px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}

.remove-image-0:hover,
.remove-image-1:hover,
.remove-image-2:hover,
.remove-image-3:hover,
.remove-image-4:hover,
.remove-image-5:hover {
  cursor: pointer;
  opacity: 0.8;
}

.custom-button-0,
.custom-button-1,
.custom-button-2,
.custom-button-3,
.custom-button-4,
.custom-button-5 {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #d3d3d3;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.7);
}

.custom-button-0:hover,
.custom-button-1:hover,
.custom-button-2:hover,
.custom-button-3:hover,
.custom-button-4:hover,
.custom-button-5:hover {
  opacity: 0.8;
}

.display-image-0,
.display-image-1,
.display-image-2,
.display-image-3,
.display-image-4,
.display-image-5 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.display-image-0:hover,
.display-image-1:hover,
.display-image-2:hover,
.display-image-3:hover,
.display-image-4:hover,
.display-image-5:hover {
  opacity: 0.8;
}

.processing-bar-0,
.processing-bar-1,
.processing-bar-2,
.processing-bar-3,
.processing-bar-4,
.processing-bar-5 {
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 0px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
}

.success-box-0,
.success-box-1,
.success-box-2,
.success-box-3,
.success-box-4,
.success-box-5 {
  display: none;
  --dimensions: 35px;
  --position: 30px;
  width: var(--dimensions);
  height: var(--dimensions);
  background: #83ccd3;
  border-radius: 30px;
  text-align: center;
  position: absolute;
  overflow: hidden;
  top: calc(var(--position) - 10px);
  left: var(--position);
  animation: fadeIn 3s;
}

.success-box-0:before,
.success-box-1:before,
.success-box-2:before,
.success-box-3:before,
.success-box-4:before,
.success-box-5:before {
  content: '';
  display: block;
  width: 9px;
  height: 18px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 14px;
  top: 6px;
}

.full-page-loading-spinner {
  display: none;
  position: absolute;
  top: 300px;
  left: 38vw;
  z-index: 1;
}

.full-page-loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: full-page-loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00c6a7 transparent transparent transparent;
}

.full-page-loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.full-page-loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.full-page-loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@media (min-width: 600px) {
  .full-page-loading-spinner {
    top: 40%;
    left: 46vw;
  }
}

@keyframes full-page-loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.signup-button-wrapper {
  position: relative;
  height: 50px;
}

.submit-loading-spinner {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.submit-loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.submit-loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.submit-loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.submit-loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 320px) {
  .images-wrapper {
    --grid-size: 112px;
    grid-template-columns: repeat(2, var(--grid-size));
    grid-template-rows: repeat(3, var(--grid-size));
  }
}

@media (max-width: 768px) {
  input {
    font-size: 12px;
  }

  .signup-wrapper {
    width: calc(100% - 40px);
    max-width: 100%;
  }

  .signup-content {
    padding: 50px 25px;
  }

  .dob-wrapper {
    display: flex;
    flex-direction: column;
  }

  .select-wrapper:not(:last-child) {
    margin-bottom: 8px;
  }

  .gender-container {
    width: 100%;
  }

  .select-container {
    grid-template-columns: 1fr;
    grid-row-gap: 7px;
  }

  .conviction-container,
  .values-container {
    width: 100%;
  }

  .conviction-container {
    margin-bottom: 8px;
  }
}

@media (min-width: 600px) {
  .images-wrapper {
    --grid-size: 120px;
    grid-gap: 5px;
  }
}

@media (min-width: 768px) {
  .signup-wrapper {
    width: 660px;
  }

  .signup-content {
    padding: 50px 85px;
  }

  .images-wrapper {
    --grid-size: 150px;
    grid-gap: 15px;
  }

  .success-box-0,
  .success-box-1,
  .success-box-2,
  .success-box-3,
  .success-box-4,
  .success-box-5 {
    --position: 60px;
  }
}
