<div class="page-container">
  <h3>Messages</h3>
  <button class="conversation-container" onclick="(() => window.location.pathname = '/messages/123')()">

    <div class="user-info-container">
      <div class="user-avatar">
        <img
          src="/static/assets/icons/female_app_nav.png"
          class="user-avatar"
        />
      </div>
      <div class="user-info">
        <p class="user-name-age">Sarah, 36</p>
        <p class="user-location">Irvine, CA, USA</p>
      </div>

      <div class="user-message-preview-container">
        <p class="user-message-preview">Hi. :)</p>
        <div class="user-message-date-count-wrapper">
          <p class="date-container">June 20, 2021</p>
        </div>
      </div>
    </div>

    <div class="menu-container">
      <div class="user-message-count-wrapper">
        <p class="user-message-count">3</p>
      </div>

      <div class="ellipsis-menu">
        <div class="ellipsis-dot"></div>
        <div class="ellipsis-dot"></div>
        <div class="ellipsis-dot"></div>
      </div>
    </div>
  </button>
</div>
