<div class="container">
  <div class="wrapper">
    <div class="profile-photos-container" data-user-photos="${user.photos.length}">
      <div class="${user.photos.length > 0 ? 'photos-slider-wrapper' : 'no-photos-slider-wrapper'}">
        <div class="photos-container">
          <div class="slider-wrapper">
            ${user.photos.length > 0 ? user.photos.map((photo, index) => `
            <div class="slide" id="${index}"><img src="${photo}" /></div>
            `).join('') : `<img
              src="${user.gender === 'male' ?
              'https://res.cloudinary.com/dnjhw5rv2/image/upload/v1613985983/male_profile.jpg' :
              'https://res.cloudinary.com/dnjhw5rv2/image/upload/v1613988154/female_profile.jpg'}"
            />
            `}
          </div>
          <div class="dots-wrapper">
            ${user.photos.length > 1 ? user.photos.map((photo, index) => `
            <span class="dot" onclick="goToImage(${index})"></span>
            `).join('') : ''}
          </div>
        </div>

        ${user.photos.length > 1 ? `
        <div class="image-previews-container">
          ${user.photos.map((photo, index) => `
          <div class="image-preview-wrapper">
            <img src="${photo}" class="user-photo" onclick="goToImage(${index})" />
          </div>
          `).join('')}
        </div>
        ` : ''}
      </div>
    </div>

    <div class="user-basic-info-container">
      <div class="top-row">
        <div class="user-basic-info-wrapper">
          <h5 class="user-name-age">${user.name}, ${user.age}</h5>
          <p class="user-location">
            Lives in ${user.city}, ${user.state !== null ? `${user.state}, ${user.country}` :
            user.country}
          </p>
          <p class="user-last-active">Last Active: ${lastActive}</p>
        </div>
        <div class="block-report-user-dropdown">
          <div class="ellipsis-menu" onclick="handleBlockReportUserMenu()">
            <div class="ellipsis-dot"></div>
            <div class="ellipsis-dot"></div>
            <div class="ellipsis-dot"></div>
          </div>
          <div class="block-report-user-dropdown-content">
            <div class="arrow"></div>
            <div class="inner-content">
              <div onclick="handleBlockUser()">Block</div>
              <div onclick="handleReportUser()">Report</div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-wrapper">
        <button onclick="handleGoToConversation()"><i class="far fa-envelope fa-2x"></i></button>
        <button onclick="handleLikeUser()"><i class="far fa-star fa-2x"></i></button>
      </div>
    </div>

    <div class="user-details-container">
      <div class="user-details-wrapper">
        <h5 class="user-details-header">Details</h5>
        <div class="details-container">
          <div class="details-wrapper">
            <span class="details-key">Ethnicity:</span>
            <span class="details-value">${user.ethnicity ? user.ethnicity.map(ethnicity => ethnicity).join(' | ') : 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Raised in:</span>
            <span class="details-value">${user.countryRaisedIn || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Conviction:</span>
            <span class="details-value">${user.religiousConviction || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Values:</span>
            <span class="details-value">${user.religiousValues || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Marital Status:</span>
            <span class="details-value">${user.maritalStatus || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Education:</span>
            <span class="details-value">${user.education || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Profession:</span>
            <span class="details-value">${user.profession || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Languages:</span>
            <span class="details-value">${user.languages ? user.languages.map(language => language).join(' | ') : 'No Answer'}</span>
          </div>
          ${user.gender === 'female' ? `
            <div class="details-wrapper">
              <span class="details-key">Hijab:</span>
              <span class="details-value">${user.hijab || 'No Answer'}</span>
            </div>
            ` : ''
          }
          <div class="details-wrapper">
            <span class="details-key">Has children:</span>
            <span class="details-value">${user.hasChildren || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Wants children:</span>
            <span class="details-value">${user.wantsChildren || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Height:</span>
            <span class="details-value">${user.height || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Can relocate:</span>
            <span class="details-value">${user.relocate || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Diet:</span>
            <span class="details-value">${user.diet || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Smokes:</span>
            <span class="details-value">${user.smokes || 'No Answer'}</span>
          </div>
          <div class="details-wrapper">
            <span class="details-key">Interests:</span>
            <span class="details-value">${user.hobbies ? user.hobbies.map(hobby => hobby).join('&nbsp;<span>&#9679;</span>&nbsp;') : 'No Answer'}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="about-me">
      <h5>About me</h5>
      <p>${user.aboutMe || 'No Answer'}</p>
    </div>

    <div class="about-match">
      <h5>About my match</h5>
      <p>${user.aboutMyMatch || 'No Answer'}</p>
    </div>
  </div>
</div>
