/* ********************* Desktop Photos Carousel ********************* */

.profile-photos-container {
  width: 100%;
  grid-row: 1 / 3;
  grid-column: 1 / 1;
  box-shadow: 0 8px 8px rgba(22, 30, 42, 0.16);
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.photos-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform ease-out 0.3s;
}

.slider-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.slide {
  flex: 1 0 100%;
  flex-basis: 100%;
  height: 390px;
}

.dots-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  cursor: pointer;
}

.active {
  background-color: green;
}

.image-previews-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
}

.image-preview-wrapper {
  margin: 0 1px;
}

.image-previews-container .image-preview-wrapper:first-child img {
  border-radius: 3px 0 0 3px;
}

.image-previews-container .image-preview-wrapper:last-child img {
  border-radius: 0 3px 3px 0;
}

.user-photo {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.user-photo:hover {
  cursor: pointer;
}

/* ********************* Mobile Photos Carousel ********************* */

@media only screen and (max-width: 799px) {
  .profile-photos-container {
    width: 100%;
    height: 100%;
  }

  .slider {
    width: 100%;
    overflow: hidden;
    border-radius: 0;
  }

  .photos-container {
    position: relative;
  }

  .slider-wrapper {
    display: flex;
    transition: transform ease-out 0.45s;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-padding: 50%;
    scroll-snap-type: x mandatory;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .slider-wrapper::-webkit-scrollbar {
    display: none;
  }

  .slider-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .slide {
    flex: 1 0 100%;
    flex-basis: 100%;
    height: 390px;
    scroll-snap-align: center;
  }

  .dots-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot:hover {
    cursor: pointer;
  }

  .active {
    background-color: green;
  }

  .image-previews-container {
    display: none;
  }

  .image-previews-container .image-preview-wrapper:first-child img {
    border-radius: 3px 0 0 3px;
  }

  .image-previews-container .image-preview-wrapper:last-child img {
    border-radius: 0 3px 3px 0;
  }
}

/* ****************************************** */

.about-me,
.about-match {
  display: grid;
  align-items: center;
  border-top: 1px solid rgba(22, 30, 42, 0.16);
}

.user-basic-info-container {
  margin: 10px 0 25px;
}

.top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-basic-info-wrapper,
.user-details-wrapper {
  font-size: 14px;
}

.user-basic-info-wrapper {
  padding: 8px 20px 20px;
}

.user-name-age {
  font-size: 25px;
}

.block-report-user-dropdown {
  position: relative;
}

.ellipsis-menu {
  height: 23px;
  margin: 14px 13px 0 18px;
  padding: 0 7px 0 2px;
}

.ellipsis-menu:hover {
  cursor: pointer;
}

.ellipsis-menu:hover .ellipsis-dot {
  background: rgba(22, 30, 42, 0.5);
}

.ellipsis-dot {
  width: 5px;
  height: 5px;
  background: rgba(22, 30, 42, 0.25);
  border-radius: 5px;
}

.ellipsis-dot:not(:last-child) {
  margin-bottom: 2px;
}

.block-report-user-dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 8px;
  right: 30px;
  padding-right: 10px;
  background-color: #ffffff;
  width: 150px;
  height: 75px;
  font-size: 14px;
  border-radius: 6px;
  animation: fade-in 0.15s linear 1;
}

.arrow {
  top: 16px;
  right: 6px;
  transform: translateY(-50%) rotate(45deg);
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
  position: absolute;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 4px;
}

.inner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.inner-content div:hover {
  cursor: pointer;
  background-color: #d8d8d8;
  transition: all 0.14s ease-in-out;
}

.inner-content div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-content div:first-child {
  border-bottom: 1px solid #f0f0f0;
}

.show-block-report-user-dropdown-content {
  display: flex;
}

.user-details-container {
  padding: 20px 0 0;
}

.user-details-wrapper {
  padding: 0 20px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 0 20px;
}

.contact-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  background-color: #008cff;
  border: transparent;
  outline: none;
  color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14), 0 4px 5px -5px rgba(0, 140, 255, 0.5);
  letter-spacing: 1px;
  font-size: 16px;
}

.contact-wrapper button:first-child {
  margin-right: 12px;
}

.contact-wrapper button:hover {
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 140, 255, 0.5);
}

.about-me,
.about-match {
  height: 100%;
  padding: 20px 32px 20px 20px;
  font-size: 16px;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.details-key {
  padding: 10px 0;
  color: #7f7f7f;
}

.details-value {
  padding: 10px 0 10px 10px;
}

.details-grid div:not(:nth-last-child(-n + 2)) {
  border-bottom: 1px solid rgba(22, 30, 42, 0.16);
}

/* ****************************************** */

@media only screen and (min-width: 800px) {
  h5 {
    font-size: 25px;
  }

  .container {
    max-width: 1200px;
    margin: 75px auto 0;
    padding: 0 10px;
  }

  .wrapper {
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 12px;
    grid-template-columns: 390px auto;
    grid-template-rows: repeat(5, auto);
    margin: 0 10px;
  }

  .user-basic-info-container {
    grid-row: 1 / 1;
    grid-column: 2 / -1;
  }

  .about-me {
    grid-row: 3 / 3;
    grid-column: 2 / -1;
    height: fit-content;
    padding: 20px;
    font-size: 16px;
    border-top: 1px solid rgba(22, 30, 42, 0.16);
  }

  .about-match {
    grid-row: 4 / -1;
    grid-column: 2 / -1;
    height: fit-content;
  }

  .user-details-container {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    height: fit-content;
  }

  .profile-photos-container,
  .user-basic-info-container,
  .user-details-container,
  .about-me,
  .about-match {
    border-radius: 12px;
  }

  .user-basic-info-container,
  .user-details-container,
  .about-me,
  .about-match {
    border: 1px solid rgba(22, 30, 42, 0.16);
  }

  .user-details-container h5,
  .about-me h5,
  .about-match h5 {
    margin-bottom: 20px;
  }

  .user-info {
    font-size: 14px;
    flex: 1 1 100%;
    padding: 8px 20px;
  }

  .user-basic-info-container {
    margin: 0;
    padding-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .contact-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    padding: 8px 10px;
  }

  .contact-wrapper button {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #008cff;
    border: transparent;
    outline: none;
    color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14), 0 4px 5px -5px rgba(0, 140, 255, 0.5);
    letter-spacing: 1px;
    font-size: 16px;
  }

  .contact-wrapper button:first-child {
    margin-bottom: 12px;
    margin-right: 12px;
  }

  .contact-wrapper button:hover {
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 140, 255, 0.5);
  }

  .user-name-age {
    font-size: 27px;
    margin-bottom: 10px;
  }

  .user-details-header {
    font-size: 25px;
  }

  .details-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .details-value {
    padding: 10px 0;
  }

  .details-grid div:not(:nth-last-child(-n + 2)) {
    border-bottom: 1px solid rgba(22, 30, 42, 0.16);
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 50px;
  }

  .contact-wrapper {
    padding: 8px 50px;
  }
}

@media (min-width: 1112px) {
  .container {
    padding: 0 100px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
