<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>{{title}}</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    {{#each styles}}
      <link rel="stylesheet" type="text/css" href={{this}}>
    {{/each}}
  </head>
  <body>
    {{> app-nav }}
    <div style="margin-top: 75px;">
      {{{ body }}}
    </div>
    <script type="text/javascript" src="/static/client/views/layouts/app/handleLogout.js"></script>
    {{!-- // <script type="module" src="/static/client/app/authenticateUser.js"></script> --}}
  </body>
</html>
