<div class='legal-page-container background-white'>
  <div class='legal-page-wrapper'>
    <h1 class='form-title'>Privacy Policy</h1>
    <p>
      This Privacy Policy describes how we collect, use, and share your personal information when you use the Site.
    </p>

    <div class='legal-section'>
      <h2 class="header">Personal Information We Collect</h2>
      <p>
        We collect the following personal information from you when you use the Site:
      <ul>
        <li>Contact information, such as your name, email address, and phone number</li>
        <li>Demographic information, such as your age, gender, and location</li>
        <li>Profile information, such as your education, occupation, and interests</li>
        <li>Financial information, if you choose to become a paying member</li>
      </ul>
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Device and Network Information We Collect</h2>
      <p>
        We collect the following information for purposes such as fraud prevention, analytics, and improving our services:
      <ul>
        <li>Usage information, such as the pages you visit on the Site and the links you click on</li>
        <li>Device information, such as your IP address and browser type</li>
        <li>Cookie information</li>
      </ul>
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">How We Use Your Personal Information</h2>
      <p>
        We use your personal information for the following purposes:
      <ul>
        <li>To provide you with the Site and its features</li>
        <li>To communicate with you about your account and the Site</li>
        <li>To match you with potential partners</li>
        <li>To personalize your experience on the Site</li>
        <li>To improve the Site</li>
        <li>To comply with our legal obligations</li>
        <li>To protect our rights and property</li>
        <li>To enforce our terms of service.</li>
      </ul>
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">We may share your personal information with the following third parties:</h2>
      <ul>
        <li>Our service providers, who help us operate the Site</li>
        <li>Advertisers, who may show you ads on the Site</li>
        <li>Analytics providers, who help us track and measure the use of the Site</li>
        <li>Social media platforms, if you choose to connect your account to a social media platform</li>
        <li>Law enforcement or other government agencies, if required by law.</li>
      </ul>

      <p>We may transfer your personal information to countries outside of your home country. When we do so, we will
        take
        steps to ensure that your personal information is protected in accordance with this Privacy Policy.</p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Your Rights</h2>
      <p>
        You have the following rights with respect to your personal information:
      <ul>
        <li>You have the right to access your personal information.</li>
        <li>You have the right to correct any inaccuracies in your personal information.</li>
        <li>You have the right to delete your personal information.</li>
        <li>You have the right to object to the processing of your personal information.</li>
        <li>You have the right to restrict the processing of your personal information.</li>
        <li>You have the right to port your personal information to another service provider.</li>
        <li>You have the right to withdraw your consent to the processing of your personal information.</li>
      </ul>
      </p>
      <p>
        To exercise any of these rights, please contact us on <a href="http://t.me/dudeInCode" target="_blank">Telegram</a>
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Data Retention</h2>
      <p>
        We will retain your personal information for as long as you have an account on the Site. If you delete your
        account,
        we will retain your personal information for a period of time in order to comply with our legal obligations,
        resolve
        disputes, and enforce our agreements.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Security</h2>
      <p>
        We take the security of your personal information seriously. We have implemented appropriate technical and
        organizational security measures to protect your personal information from unauthorized access, use, disclosure,
        alteration, or destruction.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Changes to this Privacy Policy</h2>
      <p>
        We may change this Privacy Policy from time to time. Any changes to this Privacy Policy will be posted on the
        Site.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Liability Waiver</h2>
      <p>By using this Site, you agree to indemnify and hold harmless Zawajina (the "Site") and its affiliates,
        directors, officers, employees, agents, and representatives from and against any and all claims, liabilities,
        damages, losses, costs, and expenses (including reasonable attorneys' fees) arising out of or in connection with
        your use of the Site.</p>
      <p>This liability waiver is in addition to any other disclaimers or limitations of liability set forth in this
        Privacy
        Policy.</p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Contact Us</h2>
      <p>
        If you have any questions about this Privacy Policy, please contact us on <a href="http://t.me/dudeInCode" target="_blank">Telegram</a>
      </p>
    </div>
  </div>
</div>
