<div class='legal-page-container background-white'>
  <div class='legal-page-wrapper'>
    <h1 class='form-title'>Terms of Service</h1>
    <p>
      These Terms of Service (the "Terms") govern your use of Zawajina (the "Site"). By using the Site, you
      agree to be bound by these Terms.
    </p>

    <div class='legal-section'>
      <h2 class="header">Age Requirements</h2>
      <p>
        You must be at least 18 years of age to use the Site. If you are under the age of 18, you may not use the Site
        without the consent of a parent or guardian.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Account Creation</h2>
      <p>
        In order to use the Site, you must create an account. When you create an account, you will be asked to provide
        certain information, such as your name, email address, and password. You are responsible for keeping your account
        information confidential and for using your account in a responsible manner.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Content</h2>
      <p>
        You are responsible for all content that you post on the Site. You may not post any content that is illegal,
        harmful, threatening, abusive, defamatory, obscene, or otherwise objectionable. You are also prohibited from
        posting
        any content that violates the intellectual property rights of others.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Zawajina's Rights</h2>
      <p>
        Zawajina reserves the right to remove any content that it deems to be inappropriate or in violation of
        these
        Terms. Zawajina also reserves the right to terminate your account for any reason, at its sole discretion.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Liability</h2>
      <p>
        Zawajina is not responsible for any damages that you may suffer as a result of using the Site. This
        includes, but is not limited to, damages for lost profits, lost data, or personal injury.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Indemnification</h2>
      <p>
        You agree to indemnify and hold harmless Zawajina and its affiliates, directors, officers, employees,
        agents, and representatives from and against any and all claims, liabilities, damages, losses, costs, and expenses
        (including reasonable attorneys' fees) arising out of or in connection with your use of the Site.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Dispute Resolution</h2>
      <p>
        Any disputes arising out of or in connection with these Terms will be resolved by binding arbitration in
        accordance
        with the rules of the American Arbitration Association. The arbitration will be held in the state of California,
        and
        the decision of the arbitrator will be final and binding.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Changes to these Terms</h2>
      <p>
        Zawajina may change these Terms at any time. You will be notified of any changes by email or by posting
        the
        changes on the Site. If you do not agree to the changes, you may terminate your account. However, if you continue
        to
        use the Site after the changes have been made, you will be deemed to have accepted the changes.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Liability Waiver</h2>
      <p>
        By using this Site, you agree to indemnify and hold harmless Zawajina (the "Site") and its affiliates,
        directors, officers, employees, agents, and representatives from and against any and all claims, liabilities,
        damages, losses, costs, and expenses (including reasonable attorneys' fees) arising out of or in connection with
        your use ofthe Site.
      </p>
      <p>
        This liability waiver is in addition to any other disclaimers or limitations of liability set forth in these Terms
        of Service.
      </p>
    </div>

    <div class='legal-section'>
      <h2 class="header">Contact Us</h2>
      <p>
        If you have any questions about these Terms, please contact us on <a href="http://t.me/dudeInCode" target="_blank">Telegram</a>
      </p>
    </div>
  </div>
</div>
