<main>
  <section class="hero text-center text-light">
    <div class="container-sm">
      <div class="hero-inner">
        <div class="hero-copy">
          <h1 class="hero-title mt-0">Terms of Service</h1>
          <p class="hero-paragraph">
            By accessing, signing up and using My Match, you acknowledge and
            agree to these terms of use.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="features-extended section">
    <div class="features-extended-inner section-inner">
      <div class="features-extended-header text-center">
        <div class="container-sm">
          <h2 class="section-title mt-0">How we use your data</h2>
          <p class="section-paragraph">
            These terms of service will be updated later. For now, we collect
            and use your IP address with different third party APIs to get your
            current location, which we use during registration. We also store
            your IP address to prevent spam and/or other misuse of the site.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
