.field-icon {
  position: absolute;
  top: 3px;
  right: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  color: #555;
}

.field-icon:hover {
  cursor: pointer;
}

.form-button-container {
  padding: 24px 0;
}

.userPassword-helper-text {
  font-size: 12px;
  padding-top: 5px;
}
