@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/static/client/fonts/montserrat/Montserrat-Bold.ttf');
}

body {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  background: #ffffff;
}

section {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

.form-container {
  padding: 200px 0;
  background: linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
  background: -webkit-linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
  background: -o-linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
  background: -moz-linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
}

@media screen and (max-width: 768px) {
  .form-container {
    height: 100vh;
  }
}

.form-wrapper {
  width: 390px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    width: calc(100% - 40px);
    max-width: 100%;
  }
}

.form-content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .form-content {
    padding: 50px 25px;
  }
}

#form-submission-error {
  display: none;
  position: relative;
  padding: 12px 0;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 14px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

#form-submission-error p {
  padding: 0 8px;
}

.form-title {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat';
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.input-wrapper {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
}

.password-one-margin {
  margin-bottom: 30px;
}

.password-two-margin {
  margin-bottom: 5px;
}

.form-input {
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.input-focus {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.input-focus::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
}

.input-focus::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.form-input:focus + .input-focus::after {
  top: -15px;
}

.form-input:focus + .input-focus::before {
  width: 100%;
}

.has-value.form-input + .input-focus::after {
  top: -15px;
}

.has-value.form-input + .input-focus::before {
  width: 100%;
}

.animate-border-bottom::before {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.field-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #555;
}

.password-helper-text {
  font-size: 12px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .password-helper-text {
    font-size: 10px;
  }
}

.form-group {
  overflow: hidden;
  margin-bottom: 20px;
}

.submit-button {
  position: relative;
}

.loading-spinner {
  display: none;
  position: absolute;
  top: 2px;
  left: 40%;
}

.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: animation-360-loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@media (min-width: 600px) {
  .loading-spinner {
    left: 45%;
  }
}

.form-submit {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
  background-image: linear-gradient(to left, #74ebd5, #9face6);
}
