<center>

<form method="post" action="/messages/{{member.id}}">
  <div class="form-group col-md-6 col-md-offset-3">
    <center>
    	<label for="exampleTextarea">Contact {{member.first_name}}</label>
  	</center>
    <textarea class="form-control" name="message" rows="5" cols="10"></textarea>
    <br>
    <center>
    	<button type="submit" class="btn btn-primary">Send</button>
    </center>
  </div>
</form>

</center>