<center>
	<h1>Home page</h1>
	{{#if user }}
	{{user.first_name}}, you are on the home page.

	<h3>All members on this site:</h3>

	{{#each allUsers }}
	<div>
		<a href="/users/{{this.username}}" style="text-decoration: none">
			<div class="col-md-4">
				<div class="thumbnail" style="border-radius: 12px">
					<h3 style="margin: 20px 0px">{{this.first_name}}</h3>
				</div>
			</div>
		</a>
	</div>
	{{/each}}

	{{else}}
	Welcome to the site.
	{{/if}}
</center>