<center>
	<h1>Home page</h1>
	{{#if user }}
	{{user.first_name}}, you are on the home page.

	<h3>All members on this site:</h3>

	{{#each allUsers }}
	<a href="/users/{{this.username}}">
		<div class="col-md-6 col-md-offset-3">
			<div class="well">
			{{ this.first_name }}
			</div>
		</div>
	</a>
	{{/each}}

	{{else}}
	Welcome to the site.
	{{/if}}
</center>