<center>
	{{#if logged_in_user }}
	<h1>Welcome home, {{logged_in_user.first_name}}!</h1>
	<h3>All members on this site</h3>

	<div class="col-md-8 col-md-offset-2">
		{{#each all }}
		<div>
			<a href="/users/{{this.username}}" style="text-decoration: none">
				<div class="col-md-6">
					<div class="thumbnail" style="border-radius: 12px">
						<h3 style="margin: 20px 0px">{{this.first_name}}</h3>
					</div>
				</div>
			</a>
		</div>
		{{/each}}
	</div>

	{{else}}
	<h1>Welcome to the My Match</h1>
	<h3>Please create a free account.</h3>
	{{/if}}
</center>