<center>
	<h1>Home page</h1>
	{{#if user }}
	{{user.first_name}}, you are on the home page.

	<h3>All members on this site:</h3>


	<div class="col-md-8 col-md-offset-2">
		{{#each all }}
		<div>
			<a href="/users/{{this.username}}" style="text-decoration: none">
				<div class="col-md-6">
					<div class="thumbnail" style="border-radius: 12px">
						<h3 style="margin: 20px 0px">{{this.first_name}}</h3>
					</div>
				</div>
			</a>
		</div>
		{{/each}}
	</div>

	{{else}}
	Welcome to the site.
	{{/if}}
</center>