<div>
	<center>
		<div id="currentUser">
			<h4 id="currentUser"></h4>
		</div>
	</center>
</div>

{{!-- <center>
<h1>Home page</h1>
{{#if currentUser }}
{{currentUser.first_name}}, you are on the home page.
{{else}}
Welcome to the site.
{{/if}}
</center> --}}