<center>
<h2 class="dashboard-text">{{member.first_name}}'s profile page</h2>

<p>It's currently blank, but we plan on fixing that.</p>

<p>In the meantime, you may contact {{member.first_name}} using the button below.</p>

<a href="/messages/{{member._id}}" class="btn btn-primary">Message</a>
</center>
