<center>
<h2 class="dashboard-text">{{user.first_name}}'s profile page</h2>
</center>

<form method="post" action="/users/messages/{{user.id}}">
  <div class="form-group col-md-6 col-md-offset-3">
    <center>
    	<label for="exampleTextarea">Contact {{user.first_name}}</label>
  	</center>
    <textarea class="form-control" name="message" rows="5" cols="10"></textarea>
    <br>
    <center>
    	<button type="submit" class="btn btn-primary">Send</button>
    </center>
  </div>
</form>