/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button {
  display: inline-flex;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none !important;
  text-transform: uppercase;
  background-color: #FFFFFF;
  background: #FFFFFF;
  color: #00A2B8 !important;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  padding: 16px 40px;
  height: 48px;
  text-align: center;
  white-space: nowrap;
}
.button:active {
  outline: 0;
}
.button::before {
  border-radius: 2px;
}

.button-signup {
  color: #00A2B8;
}

.button-shadow {
  position: relative;
}
.button-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 8px 24px rgba(22, 30, 42, 0.12);
  mix-blend-mode: multiply;
  transition: box-shadow 0.15s ease;
}
.button-shadow:hover::before {
  box-shadow: 0 8px 24px rgba(22, 30, 42, 0.25);
}

.button-sm {
  padding: 8px 24px;
  height: 32px;
}
.button-sm.button-shadow::before {
  box-shadow: 0 4px 16px rgba(22, 30, 42, 0.12);
}
.button-sm.button-shadow:hover::before {
  box-shadow: 0 4px 16px rgba(22, 30, 42, 0.16);
}

.button-primary,
.button-secondary {
  color: #FFF !important;
  transition: background 0.15s ease;
}

.button-primary {
  background: #7E6EE6;
}
.button-primary:hover {
  background: #8677e8;
}
.button-primary.button-shadow::before {
  box-shadow: 0 8px 16px rgba(126, 110, 230, 0.24);
}
.button-primary.button-shadow:hover::before {
  box-shadow: 0 8px 16px rgba(126, 110, 230, 0.32);
}
.button-primary .button-sm.button-shadow::before {
  box-shadow: 0 4px 16px rgba(126, 110, 230, 0.24);
}
.button-primary .button-sm.button-shadow:hover::before {
  box-shadow: 0 4px 16px rgba(126, 110, 230, 0.32);
}

.button-secondary {
  background: #00cec5;
  background: linear-gradient(65deg, #00A2B8 -25%, #00F9D2 100%);
}
.button-secondary:hover {
  background: #00d1c7;
  background: linear-gradient(65deg, #00a4bb -25%, #00fcd4 100%);
}

.button-block {
  display: flex;
  width: 100%;
}

@media (max-width: 640px) {
  .button-wide-mobile {
    width: 100%;
    max-width: 280px;
  }
}