<header class="navbar--site-header">
  <div class="navbar--container">
    <div class="navbar--site-header-inner">
      <div>
        <a href="/"><img src="/static/client/landing-page/images/home.svg" alt="Home" /></a>
      </div>
      <ul class="navbar--header-links list-reset margin-0">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a class="button navbar--button-sm navbar--button-shadow" href="/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</header>
