.character-count {
  display: flex;
  justify-content: flex-end;
}

#about-me-error-text,
#about-my-match-error-text {
  display: none;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: -20px;
  color: red;
}
