.photos-subtitle {
  text-align: center;
  margin-bottom: 16px;
}

.invalid-file-type {
  display: none;
  text-align: center;
  color: red;
  margin-bottom: 16px;
}

.images-wrapper {
  --grid-size: 87px;
  display: grid;
  grid-template-columns: repeat(3, var(--grid-size));
  grid-template-rows: repeat(2, var(--grid-size));
  grid-gap: 10px;
  margin-bottom: 16px;
}

@media (max-width: 320px) {
  .images-wrapper {
    --grid-size: 112px;
    grid-template-columns: repeat(2, var(--grid-size));
    grid-template-rows: repeat(3, var(--grid-size));
  }
}

@media (min-width: 600px) {
  .images-wrapper {
    --grid-size: 120px;
    grid-gap: 5px;
  }
}

@media (min-width: 768px) {
  .images-wrapper {
    --grid-size: 150px;
    grid-gap: 15px;
  }
}

.image-upload-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-preview-0,
.image-preview-1,
.image-preview-2,
.image-preview-3,
.image-preview-4,
.image-preview-5 {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .image-preview-0,
  .image-preview-1,
  .image-preview-2,
  .image-preview-3,
  .image-preview-4,
  .image-preview-5 {
    width: 150px;
    height: 150px;
  }
}


.remove-image-0,
.remove-image-1,
.remove-image-2,
.remove-image-3,
.remove-image-4,
.remove-image-5 {
  display: none;
  height: 24px;
  width: 24px;
  background: #727272;
  border-radius: 30px;
  position: absolute;
  bottom: -8px;
  right: -8px;
}

.remove-image-0:after,
.remove-image-1:after,
.remove-image-2:after,
.remove-image-3:after,
.remove-image-4:after,
.remove-image-5:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '\d7';
  font-size: 24px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}

.remove-image-0:hover,
.remove-image-1:hover,
.remove-image-2:hover,
.remove-image-3:hover,
.remove-image-4:hover,
.remove-image-5:hover {
  cursor: pointer;
  opacity: 0.8;
}

.custom-button-0,
.custom-button-1,
.custom-button-2,
.custom-button-3,
.custom-button-4,
.custom-button-5 {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #d3d3d3;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.7);
}

.custom-button-0:hover,
.custom-button-1:hover,
.custom-button-2:hover,
.custom-button-3:hover,
.custom-button-4:hover,
.custom-button-5:hover {
  opacity: 0.8;
}

.display-image-0,
.display-image-1,
.display-image-2,
.display-image-3,
.display-image-4,
.display-image-5 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.display-image-0:hover,
.display-image-1:hover,
.display-image-2:hover,
.display-image-3:hover,
.display-image-4:hover,
.display-image-5:hover {
  opacity: 0.8;
}

.processing-bar-0,
.processing-bar-1,
.processing-bar-2,
.processing-bar-3,
.processing-bar-4,
.processing-bar-5 {
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 0px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
}

.success-box-0,
.success-box-1,
.success-box-2,
.success-box-3,
.success-box-4,
.success-box-5 {
  display: none;
  --dimensions: 35px;
  --position: 30px;
  width: var(--dimensions);
  height: var(--dimensions);
  background: #83ccd3;
  border-radius: 30px;
  text-align: center;
  position: absolute;
  overflow: hidden;
  top: calc(var(--position) - 10px);
  left: var(--position);
  animation: fadeIn 3s;
}

.success-box-0:before,
.success-box-1:before,
.success-box-2:before,
.success-box-3:before,
.success-box-4:before,
.success-box-5:before {
  content: '';
  display: block;
  width: 9px;
  height: 18px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 14px;
  top: 6px;
}

@media (min-width: 768px) {
  .success-box-0,
  .success-box-1,
  .success-box-2,
  .success-box-3,
  .success-box-4,
  .success-box-5 {
    --position: 60px;
  }
}

.photos-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 16px;
}

.photos-button {
  width: 100%;
  height: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
