html {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-family: "Heebo", sans-serif
}

#app {
  margin: 0 auto;
  padding: 55px 16px;
  max-width: 1200px;
}
