.messages-container {
	margin-bottom: 10px;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
}

.messages-well {
	margin-top: 10px;
}

.messages-body {
	text-align: left;
	margin: 10px;
}

.single-message-well {
	background-color: #ffffff;
	padding: 5px 10px;
}
