<div class='flex flex-wrap justify-content-center align-items-flex-start page-container background-green'>
  <div class='box-shadow-1 page-wrapper'>
    <form onsubmit='handleSubmitToken(event)' novalidate>
      <h1 class='form-title'>Verify Email Address</h1>

      <p class='form-subtitle'>
        Enter the 5 digit verification code sent to your email address:
      </p>

      <div class='input-wrapper validate-input'>
        <input type='number' class='input-field' id='verification-token' />
        <span class='input-focus'></span>
      </div>

      <div class='flex justify-content-center flex-wrap form-button-container'>
        <div class='full-width'>
          <div id='form-button-loading-spinner-wrapper'>
            <button class='flex justify-content-center align-items-center form-submit' type='submit'>
              Submit
            </button>
          </div>
        </div>
      </div>

      <div class='bottom-container'>
        <a href='/resend-email' class='helper-text'>Didn't get a code?</a>
      </div>
    </form>
  </div>
</div>
