<div class='flex flex-wrap justify-content-center align-items-flex-start page-container background-green'>
  <div class='box-shadow-1 page-wrapper'>
    <form onsubmit='handleSubmitToken(event)' novalidate>
      <h1 class='form-title'>Verify Email Address</h1>

      <p class='form-subtitle'>
        Enter the 5 digit verification code sent to your email address:
      </p>

      <div class='form-input-wrapper verification-wrapper'>
        <input type='number' class='verification' required />
        <div class='verification-error'></div>
      </div>

      <div class='flex justify-content-center flex-wrap form-button-container'>
        <div class='full-width'>
          <div id='form-button-loading-spinner-wrapper'>
            <button class='flex justify-content-center align-items-center form-submit' type='submit'>
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
