@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/static/client/fonts/montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/static/client/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('/static/client/fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/static/client/fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/static/client/fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/static/client/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('/static/client/fonts/montserrat/Montserrat-BoldItalic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url('/static/client/fonts/montserrat/montserrat-v12-latin-900.ttf'),
    url('/static/client/fonts/montserrat/montserrat-v12-latin-900.eot') format('embedded-opentype'),
    url('/static/client/fonts/montserrat/montserrat-v12-latin-900.svg') format('woff2'),
    url('/static/client/fonts/montserrat/montserrat-v12-latin-900.woff') format('woff'),
    url('/static/client/fonts/montserrat/montserrat-v12-latin-900.woff2') format('truetype');
}

body {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  background: #ffffff;
}

section {
  height: 100%;
}

p {
  font-size: 15px;
}

input {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat';
}

/* Hide arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type='submit'] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  font-weight: 700;
  font-size: 14px;
  color: #727272;
  margin-bottom: 3px;
}

input:focus {
  outline: none;
  border: 1px solid #6dabe4;
}

.signup-container {
  padding: 60px 0;
  background: linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
  background: -webkit-linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
  background: -o-linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
  background: -moz-linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
}

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 660px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.signup-content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px 0;
}

#verification-code-error {
  display: none;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 16px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.form-title {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat';
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.form-subtitle {
  margin: 8px auto;
  text-align: center;
  font-size: 16px;
}

.input-field {
  text-align: center;
}

.form-group {
  position: relative;
  overflow: hidden;
}

.form-submit {
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
  background-image: linear-gradient(to left, #74ebd5, #9face6);
}

.helper-text-wrapper {
  text-align: center;
  padding: 25px 0;
}

.helper-text {
  color: #555;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .signup-container {
    height: 100vh;
  }
  .signup-wrapper {
    width: calc(100% - 40px);
    max-width: 100%;
  }
  .signup-content {
    padding: 50px 25px;
  }
}

.loading-spinner {
  display: none;
  position: absolute;
  top: 2px;
  left: 40%;
}

.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@media (min-width: 600px) {
  .loading-spinner {
    left: 45%;
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
