/* Hide arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-subtitle {
  line-height: 1.5;
  margin: 8px auto;
  text-align: center;
  font-size: 16px;
  color: #333333;
}

.verification {
  text-align: center;
}

.form-button-container {
  padding: 24px 0;
}

.form-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helper-text {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}
