<header class="site-header text-light">
  <div class="container">
    <div class="site-header-inner">
      <div>
        <h1 class="m-0">
          <a href="/"><img src="/static/client/images/home.svg" alt="Home"></a>
        </h1>
      </div>
      <ul class="header-links list-reset m-0">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a class="button button-sm button-shadow button-signup" href="/registration/student">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</header>
