<div class="main">
  <div class="main-container">

    <div class="nav-container">
      <nav class="nav nav-borders">
        <a class="nav-link" id="account-page" href="/settings/account">Account</a>
        <a class="nav-link" id="blocked-users-page" href="/settings/blocked">Blocked Users</a>
        <a class="nav-link" id="security-page" href="/settings/security">Security</a>
      </nav>
      <hr class="horizontal-divider">
    </div>

    <div class="form-wrapper" id="account">
      <div class="form-content">
        <form name="signupForm" onsubmit="return false" novalidate class="signup-form-wrapper">
          <div class="form-section">
            <h1 class="form-title">Profile Information</h1>
            <div class="form-submission-error"></div>
  
            <div class="input-wrapper validate-input" id="name-wrapper">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-input name"
                placeholder="Enter your name"
                data-name="${authUser.name}"
              />
            </div>
          </div>

          <div class="form-section">
            <h1 class="form-title">Account Email Address</h1>
            <div class="input-wrapper validate-input" id="email-wrapper">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-input email"
                placeholder="Enter your email"
                value="${authUser.email}"
              />
            </div>
          </div>

          <div class="form-section">
            <h1 class="form-title">Password</h1>
            <div class="input-wrapper validate-input" id="password-wrapper">
              <label for="new-password" class="form-label">New Password</label>
              <div class="form-input-wrapper">
                <input
                  name="new-password"
                  class="form-input user-password"
                  type="password"
                  placeholder="Enter new password"
                />
                <span class="field-icon" onclick="togglePassword('1')">
                  <i class="fa fa-eye-slash password-eye"></i>
                </span>
              </div>
  
              <label for="confirm-new-password" class="form-label">Confirm New Password</label>
              <input
                name="confirm-new-password"
                class="form-input confirm-user-password"
                type="password"
                placeholder="Enter your new password again"
              />
            </div>
            <div class="password-helper-text">
              Password must be at least 8 characters long
            </div>
          </div>

          <div class="form-section form-group submit-button">
            <div class="form-submit-wrapper">
              <div class="loading-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              <button type="submit" onclick="handleUpdateAccount()" class="form-submit">
                Update Account
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
