<header class="navbar--site-header">
  <div class="navbar--container">
    <div class="navbar--site-header-inner">
      <div>
        <a href="/"
          ><img src="/static/client/landing-page/images/home.svg" alt="Home"
        /></a>
      </div>
      <ul class="navbar--header-links">
        <li>
          <a href="/search">Search</a>
        </li>
        <li>
          <a onclick="handleLogout()" id="logout" style="cursor: pointer;"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
