.user-main-info-container {
  margin: 10px 0 25px;
}

@media only screen and (min-width: 800px) {
  .user-main-info-container {
    grid-row: 1 / 1;
    grid-column: 2 / -1;
    margin: 0;
    padding-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}

.user-main-info-wrapper,
.user-details-wrapper {
  font-size: 14px;
}

.user-main-info-wrapper {
  padding: 8px 20px 20px;
}

.user-name-age {
  font-size: 25px;
}

@media only screen and (min-width: 800px) {
  .user-name-age {
    font-size: 27px;
    margin-bottom: 10px;
  }
}

.user-location,
.user-ethnicity,
.country-user-raised-in,
.user-hobbies {
  position: relative;
  padding-bottom: 4px;
}

.block-report-user-dropdown {
  position: relative;
}

.ellipsis-menu {
  height: 23px;
  margin: 14px 13px 0 18px;
  padding: 0 7px 0 2px;
}

.ellipsis-menu:hover {
  cursor: pointer;
}

.ellipsis-menu:hover .ellipsis-dot {
  background: rgba(22, 30, 42, 0.5);
}

.ellipsis-dot {
  width: 5px;
  height: 5px;
  background: rgba(22, 30, 42, 0.25);
  border-radius: 5px;
}

.ellipsis-dot:not(:last-child) {
  margin-bottom: 2px;
}

.block-report-user-dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 8px;
  right: 30px;
  padding-right: 10px;
  background-color: #ffffff;
  width: 150px;
  height: 75px;
  font-size: 14px;
  border-radius: 6px;
  animation: animation-fade-in 0.15s linear 1;
}

.show-block-report-user-dropdown-content {
  display: flex;
}

.arrow {
  top: 16px;
  right: 6px;
  transform: translateY(-50%) rotate(45deg);
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
  position: absolute;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 4px;
}

.inner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.inner-content div:hover {
  cursor: pointer;
  background-color: #d8d8d8;
  transition: all 0.14s ease-in-out;
}

.inner-content div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-content div:first-child {
  border-bottom: 1px solid #f0f0f0;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 0 20px;
}

.message-button,
.like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  border: transparent;
  outline: none;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(0 0 0 / 50%);
  letter-spacing: 1px;
  font-size: 16px;
}

.message-button:hover,
.like-button:hover {
  transition: all 0.2s;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(0 0 0 / 50%);
}

@media (min-width: 600px) {
  .contact-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    padding: 8px 50px;
  }

  .message-button,
  .like-button {
    height: 100%;
  }

  .message-button:hover,
  .like-button:hover {
    transition: all 0.2s;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
      0 7px 10px -5px rgb(0 0 0 / 50%);
  }

  .message-button {
    margin-bottom: 12px;
    margin-right: 12px;
  }
}

.message-button,
.like-button {
  background-color: var(--color-green);
  ;
  color: #ffffff;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 14%), 0 4px 5px -5px rgb(0 140 255 / 50%);
  border: transparent;
}

.edit-button-container {
  position: absolute;
  top: 5px;
  right: 7px;
}

.edit-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--color-green);
  ;
  border: transparent;
  box-sizing: border-box;
  outline: none;
  color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14), 0 4px 5px -5px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-size: 16px;
  padding: 5px 20px;
}

.like-icon {
  font-size: 25px;
}

@media (min-width: 600px) {
  .like-icon {
    font-size: 32px;
  }
}
