@media only screen and (min-width: 800px) {
  .user-details-container h5,
  .about-me h5,
  .about-match h5 {
    margin-bottom: 20px;
  }

  .details-grid div:not(:nth-last-child(-n + 2)) {
    border-bottom: 1px solid rgba(22, 30, 42, 0.16);
  }
}

.autocomplete {
  position: relative;
}
