<section>
  <div class="signup-wrapper">
    <div class="signup-content">
      <div id="email-exists-error"></div>
      <form name="signupForm" onsubmit="return false" novalidate>
        <h2 class="form-title">Create account</h2>

        <div class="input-wrapper validate-input" id="name-wrapper">
          <input class="form-input" type="text" name="user_name" id="name_id" required />
          <span class="input-focus animate-border-bottom" id="name" data-placeholder="Name"></span>
        </div>
        <div class="input-wrapper validate-input" id="email-wrapper">
          <input type="email" class="form-input" name="user_email" id="email_id" required />
          <span class="input-focus animate-border-bottom" id="email" data-placeholder="Email"></span>
        </div>
        <div class="input-wrapper password-position" id="password-wrapper">
          <input class="form-input" type="password" name="user_password">
          <span class="input-focus animate-border-bottom" id="password" data-placeholder="Password"></span>
          <span toggle="#password" class="field-icon" onclick="togglePassword()">
            <i class="fa fa-eye" id="passwordEye"></i>
          </span>
        </div>
        <div class="password-helper-text">
          Password must be at least 8 characters long
        </div>
        <div class="form-group submit-button">
          <div class="loading-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <button
            type="submit"
            onclick="handleSignupStepOne()"
            class="form-submit signup-button"
            name="signupButton"
          >
            Create Account
          </button>
        </div>
      </form>
      <div class="form-group">
        <label for="agree-term" class="label-agree-term"><span><span></span></span>By signing up, you agree to all statements in <a href="/terms" class="term-service">Terms of Service</a></label>
      </div>
      <p class="login">
        Already have an account? <a href="#" class="login-link">Login here</a>
      </p>
    </div>
  </div>
</section>
