.field-icon {
  position: absolute;
  top: 3px;
  right: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  color: #555;
}

.field-icon:hover {
  cursor: pointer;
}

.form-button-container {
  padding: 24px 0;
}

.form-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
}

@media (max-width: 325px) {
  .form-bottom-container {
    padding-top: 32px;
  }
}

.userPassword-helper-text {
  font-size: 12px;
  padding-top: 5px;
}

.label-agree-term {
  font-size: 12px;
  font-weight: 600;
  color: #555;
}

.terms-of-service {
  color: #555;
  text-decoration: underline;
}

.login-from-signup {
  width: 100%;
  display: flex;
  color: #555;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.login-helper-text {
  font-weight: 700;
  color: #222;
}

.login-helper-text:hover {
  text-decoration: underline;
}
