.footer-container * {
	color: var(--color-white);
}

.footer-container { 
	background-color: var(--color-green); 
	position: relative; 
  padding: 48px 0;
	overflow: hidden; 
} 

.footer-wrapper {
  display: flex;
  flex-direction: column-reverse;
  font-size: 0.85rem;
}

@media (min-width: 900px) {
  .footer-wrapper {
    max-width: 925px;
    flex-direction: row;
    padding: 0 30px;
    font-size: 1rem;
  }
}

.footer-wrapper > div {
  padding-bottom: 10px;
}

@media (min-width: 900px) {
  .footer-wrapper > div {
    padding-bottom: 0;
  }
}

@media (min-width: 1140px) {
  .footer-wrapper {
    max-width: 1140px;
  }
}

.footer-inner-wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 350px);
}

@media (min-width: 900px) {
  .footer-inner-wrapper {
    grid-template-columns: repeat(3, 275px);
    padding: 50px 0 0;
  }
}

@media (min-width: 1140px) {
  .footer-inner-wrapper {
    grid-template-columns: repeat(3, 350px);
  }
}

.footer-title {
  border-bottom: var(--border-color-dark);
}

.circle {
  border: var(--border-color-green);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-number {
  padding-bottom: 10px;
}

.footer-links-wrapper a {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.footer-links-wrapper a:first-child {
  margin-left: 0;
}

.footer-links-wrapper a:last-child {
  margin-right: 0;
}

@media (min-width: 600px) {
  .footer-links-wrapper a {
    font-size: 15px;
  }
}

@media (min-width: 900px) {
  .footer-links-wrapper a {
    margin-right: 10px;
    margin-left: 10px;
  }
}
