/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar--site-header {
  height: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.navbar--site-header-inner {
  position: relative;
  /* To display all elements above the background color */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar--header-links {
  display: inline-flex;
}

.navbar--header-links li {
  display: inline-flex;
}

.navbar--header-links a:not(.button) {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
  padding: 8px 24px;
}

.navbar--header-links a:not(.button):hover,
.navbar--header-links a:not(.button):active {
  color: #fff;
}