<div class="navbar--site-header">
  <div class="navbar--container">
    <div class="navbar--site-header-inner">
      <a class="home-link" href="/users"><img src="/static/client/images/home.svg" alt="Home" /></a>
      <div class="mask"></div>
      <div class="open-nav" onclick="openNav()">
        <hr class="menu-line" />
        <hr class="menu-line" />
        <hr class="menu-line" />
      </div>

      <div id="open-side-menu-mobile" class="side-menu-mobile">
        <div class="close-menu-button" onclick="closeNav()">&times;</div>
        <a href="/users">Home</a>
        <a href="/user/${authUser._id}">Profile</a>
        <a href="/user/${authUser._id}">Search</a>
        <a id="logout" class="dropdown-item" style="cursor: pointer;" onclick="handleLogout()"
          >Logout</a
        >
      </div>

      <ul class="navbar--header-links margin-0">
        <li class="search">
          <a href="/search">Search</a>
        </li>
        <li class="messages">
          <a href="/messages">${allConversationsCount > 0 ? `Messages (${allConversationsCount})` : `Messages`}</a>
        </li>
        <li>
          <div class="dropdown-menu">
            <div onclick="openDropdownMenu()" class="dropdown-button" role="button">
              <img
                src="${authUser.photos.length > 0 ? authUser.photos[0] : authUser.gender === 'male' ? 'https://res.cloudinary.com/dnjhw5rv2/image/upload/v1613985983/male_profile.jpg' : 'https://res.cloudinary.com/dnjhw5rv2/image/upload/v1613988446/female_app_nav.png'}"
                class="user-avatar-menu"
              />
              <span id="menu-arrow" class="down-arrow"></span>
            </div>
            <div class="dropdown-content">
              <a href="/users">Home</a>
              <a href="/user/${authUser._id}">Profile</a>
              <a id="logout" class="dropdown-item" style="cursor: pointer;" onclick="handleLogout()"
                >Logout</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
