html {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 25px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-family: 'Heebo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

#app {
  margin: 0 auto;
  padding: 55px 0;
}
