<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>${title}</title>

    ${styles.map(style => `
    <link rel="stylesheet" type="text/css" href="${style}" />
    `).join('')}

    <!-- Navbar script -->
    <script type="text/javascript" src="/static/client/views/app/scripts/main.js"></script>
    <script type="text/javascript" src="/static/client/views/global-script.js"></script>
  </head>
  <body>
    ${nav}
    <div style="margin-top: 55px; height: 100vh;">
      <div class="toast">
        <p class="toast-message"></p>
      </div>

      ${body}
    </div>
    ${scripts.map(script => `
    <script type="text/javascript" src="${script}"></script>
    `).join('')}

    <script type="text/javascript" src="/static/client/views/app/main.js"></script>
  </body>
</html>
