<section class="section-container hero-container background-green color-white">
  <div class="section-wrapper flex hero-wrapper">
    <div class="hero-title-wrapper full-width flex flex-direction-column">
      <h1>Find your other half</h1>
      <h3>Helping you fulfill half your deen</h3>
      <a class="button transparent-button" href="/signup">Sign Up Now</a>
    </div>

    <div class="hero-image-wrapper">
      <img src="/static/client/images/bride-groom.png" alt="">
    </div>
  </div>

  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</section>

<section class="section-container" id="about">
  <div class="section-wrapper about-us-container align-items-center">
    <div class="flex about-us-wrapper">
      <div>
        <!-- https://pngtree.com/freepng/golden-yellow-glitter-light-effect-love-shaped_8984103.html -->
        <img
          src="https://png.pngtree.com/png-clipart/20230311/original/pngtree-golden-yellow-glitter-light-effect-love-shaped-png-image_8984103.png"
          alt="">
      </div>

      <div class="flex-direction-column justify-content-center about-us-text">
        <h2 class="color-green">We're different</h2>
        <p class="color-gray">Finding a suitable match can be challenging, and swiping just doesn't work for serious-minded people.&nbsp;&nbsp;Everyone has their
          preferences.&nbsp;&nbsp;Our matching algorithm ensures you get the
          best possible matches based on your specific criteria.</p>
      </div>
    </div>
    <div class="flex about-us-wrapper">
      <div>
        <!-- https://pngtree.com/freepng/global-data-security-personal-data-security-cyber-data-security-online-concept-illustration-internet-security-or-information-privacy_7255058.html -->
        <img
          src="https://png.pngtree.com/png-clipart/20220131/original/pngtree-global-data-security-personal-data-security-cyber-data-security-online-concept-png-image_7255058.png"
          alt="">
      </div>

      <div class="flex-direction-column justify-content-center about-us-text">
        <h2 class="color-green">Your privacy matters</h2>
        <p class="color-gray">
          We take your privacy seriously and are committed to protecting your data. We use industry-standard security measures to protect your data from unauthorized access, use, disclosure, alteration, or destruction.
        </p>
      </div>
    </div>
    <div class="flex about-us-wrapper">
      <div>
        <!-- https://pngtree.com/freepng/ramadan-illustration-with-man-praying-dua-floral-touch_7418959.html -->
        <img
          src="https://png.pngtree.com/png-clipart/20220306/original/pngtree-ramadan-illustration-with-man-praying-dua-floral-touch-png-image_7418959.png"
          alt="">
      </div>

      <div class="flex-direction-column justify-content-center about-us-text">
        <h2 class="color-green">Deen first</h2>
        <p class="color-gray">
          We provide a safe and secure platform for like-minded Muslims to meet for marriage purposes in a halal manner.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-container how-it-works-section-container" id="how-it-works">
  <div class="section-wrapper flex-direction-column align-items-center how-it-works-section-wrapper">
    <div class="how-it-works-section-inner-wrapper align-items-flex-start">
      <div class="flex flex-direction-column justify-content-center how-it-works-section-step">
        <div class="flex how-it-works-section-number">
          <h1 class="color-green"><span class="circle">1</span></h1> 
        </div>
        <h2 class="color-green">Create an account</h2>
        <p class="color-gray how-it-works-section-paragraph">
          Register for free.&nbsp;&nbsp;Tell us about yourself, and what you're looking for.&nbsp;&nbsp;Our registration process makes it easy to describe your criteria.
        </p>
      </div>
      <div class="flex flex-direction-column justify-content-center how-it-works-section-step">
        <div class="how-it-works-section-title-wrapper">
          <h1 class="color-green how-it-works-section-title">How it works</h1>
          <p class="color-gray"></p>
        </div>

        <div class="flex how-it-works-section-number">
          <h1 class="color-green"><span class="circle">2</span></h1>
        </div>
        <h2 class="color-green">Search</h2>
        <p class="color-gray how-it-works-section-paragraph">
          Set your criteria.&nbsp;&nbsp;Choose as few or as many as you want.&nbsp;&nbsp;We will only show you matches based on your preferences.
        </p>
      </div>
      <div class="flex flex-direction-column justify-content-center how-it-works-section-step">
        <div class="flex how-it-works-section-number">
          <h1 class="color-green"><span class="circle">3</span></h1>
        </div>
        <h2 class="color-green">Match</h2>
        <p class="color-gray how-it-works-section-paragraph">
          Connect with others who match your criteria in a safe, secure, and halal manner.
        </p>
      </div>
    </div>
  </div>
</section>
