.section-container {
  position: relative;
  padding: 48px 0 80px;
  overflow: hidden;
}

.hero-container {
  padding: 70px 0 272px;
}

.hero-wrapper {
  flex-direction: column;
}

@media (min-width: 900px) {
  .hero-wrapper {
    flex-direction: row;
  }
}

.hero-image-wrapper {
  padding-top: 30px;
  margin: 0 -2rem 0 1rem;
}

.hero-image-wrapper img {
  width: auto;
  height: 500px;
  object-fit: contain;
}

@media (min-width: 900px) {
  .hero-image-wrapper {
    margin: 0;
  }
}

.hero-title-wrapper {
  align-items: center;
}

@media (min-width: 900px) {
  .hero-title-wrapper {
    align-items: flex-start;
  }
}

.hero-title-wrapper h3 {
  margin-bottom: 30px;
}

.hero-title-wrapper a {
  display: inline-block;
}

.ocean {
  height: 2%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
}

.wave {
  background: url('/static/client/images/wave.svg') repeat-x;
  position: absolute;
  top: -190px;
  width: 6400px;
  height: 198px;
  animation: wave 7s linear infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-child(odd) {
  top: -170px;
  animation: wave 7s linear -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

/* Wave Animation */
@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

/* About Us section */
.about-us-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .about-us-container>div:nth-child(2) {
    flex-direction: row-reverse;
  }
}

.about-us-container img {
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  .about-us-container img {
    width: 350px;
  }
}

.about-us-wrapper {
  flex-direction: column;
  align-items: center;
}

.about-us-wrapper:not(:last-child) {
  padding-bottom: 50px;
}

@media (min-width: 600px) {
  .about-us-wrapper:not(:last-child) {
    padding-bottom: 0;
  }
}

@media (min-width: 600px) {
  .about-us-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.about-us-text {
  flex-basis: 50%;
}

@media (min-width: 600px) {
  .about-us-text {
    flex-basis: 50%;
  }
}

@media (min-width: 900px) {
  .about-us-wrapper {
    display: flex;
  }

  .about-us-wrapper div {
    padding: 0 25px;
  }
}

.how-it-works-section-container {
  background-color: var(--color-light-gray);
  padding: 125px 0 50px;
}

@media (min-width: 900px) {
  .how-it-works-section-container {
    padding: 125px 0 80px;
  }
}

.how-it-works-section-wrapper {
  display: flex;
}

@media (min-width: 900px) {
  .how-it-works-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.how-it-works-section-inner-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .how-it-works-section-inner-wrapper {
    flex-direction: row;
  }
}

.how-it-works-section-title-wrapper {
  position: absolute;
  top: 0;
}

.how-it-works-section-title {
  border-bottom: var(--border-color-dark);
  margin: 30px 0 50px;
}

.circle {
  border: var(--border-color-green);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-it-works-section-number {
  padding-bottom: 10px;
}

.how-it-works-section-step {
  align-items: flex-start;
  padding-right: 0;
  padding-bottom: 50px;
}

@media (min-width: 900px) {
  .how-it-works-section-step {
    align-items: center;
    padding-right: 30px;
    padding-bottom: 0;
    width: calc(100% / 3);
  }
}

@media (min-width: 900px) {
  .how-it-works-section-paragraph {
    text-align: center;
  }
}
