textarea {
  width: 100%;
  height: 40px;
  line-height: 23px;
  border-radius: 5px;
  resize: none;
  border: 1px solid #ebebeb;
}

.full-page-loading-spinner {
  display: none;
  position: absolute;
  top: 20vh;
  left: 40vw;
  z-index: 1;
}

.full-page-loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: full-page-loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00c6a7 transparent transparent transparent;
}

.full-page-loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.full-page-loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.full-page-loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@media (min-width: 600px) {
  .full-page-loading-spinner {
    top: 30vh;
    left: 7vw;
  }
}

@keyframes full-page-loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-title {
  text-align: center;
  padding-top: 24px;
}

.page-container {
  margin-top: -55px;;
  padding-top: 55px;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 100%;
}

.sidebar-conversations-container {
  width: 100%;
  height: 100%;
  border-right: solid 1px #eee;
  position: relative;
}

@media (min-width: 600px) {
  .sidebar-conversations-container {
    width: 300px;
  }
}

.search-box-container {
  height: 55px;
  width: 100%;
}

.search-box-wrapper {
  height: 100%;
  padding: 10px;
  border-bottom: solid 1px #eee;
}

.form-group {
  height: 100%;
  position: relative;
}

.form-control {
  width: 100%;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 12px;
  outline: none;
}

.form-control:focus {
  color: #000000;
}

.glyphicon-search {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glyphicon-search img {
  width: 20px;
  height: auto;
}

.sidebar-conversations-wrapper {
  height: calc(100vh - 110px);
  overflow-y: auto;
  padding-bottom: 20px;
}

.sidebar-message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
  border: none;
  background-color: transparent;
}

.sidebar-message-container:hover {
  cursor: pointer;
  background-color: #f7f7f7 !important;
}

.sidebar-user-message-wrapper {
  text-align: left;
}

.sidebar-info,
.sidebar-message-preview {
  font-size: 14px;
}

.sidebar-info {
  margin-bottom: 8px;
}

.search-query-results {
  font-weight: bold;
  background-color: yellow;
}

.read-message {
  text-align: left;
}

.unread-message {
  font-weight: bold;
}

.right-container {
  display: flex;
  flex-direction: column;
  flex:  1;
  position: relative;
}

.chat-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chat-image {
  width: 10%;
  height: auto;
}

.conversation-wrapper {
  height: 100%;
}

.user-info {
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px #cccccc;
}

@media (min-width: 600px) {
  .user-info {
    border-bottom: solid 1px #eee;
  }
}

.user-info h5 {
  font-size: 16px;
}

.user-info a {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.user-info a:hover {
  color: #1e4d92;
}

.chat-container {
  height: calc(100vh - 165px);
  overflow-y: scroll;
  background-color: #f7f7f7;
  padding: 20px 20px 0 20px;
}

@media (min-width: 600px) {
  .chat-container {
    height: calc(100vh - 190px);
  }
}

.user-one-container,
.user-two-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.user-one-empty-div {
  display: flex;
  flex-grow: 1;
}

.user-one-container {
  flex-direction: row;
}

.user-one-wrapper {
  max-width: 90%;
  background-color: #eaeaea;
  border-radius: 12px;
}

@media (min-width: 600px) {
  .user-one-wrapper {
    max-width: 70%;
  }
}

.user-two-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 12px;
}

.user-two-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  background-color: #ffffff;
}

@media (min-width: 600px) {
  .user-two-wrapper {
    max-width: 70%;
  }
}
.user-two-empty-div {
  display: flex;
  flex-grow: 1;
}

.user-message {
  font-size: 14px;
  margin: 15px 20px 0;
  border-radius: 12px;
  text-align: left;
}

.message-time {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin: 5px 20px 5px;
}

.delivery-status {
  width: 60px;
  text-align: right;
}

.delivery-status-read {
  width: 34px;
}

.delivery-status-delivered {
  width: 60px;
  text-align: right;
}

.checkmark-one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5px 10px;
}

.checkmark-one:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border:  solid #909090;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkmark-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0 5px 1.5px;
}

.checkmark-two:after {
  content: '';
  display: block;
  width: 3px;
  height: 10.5px;
  border:  solid #909090;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.message-date {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 15px;
}

.input-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  text-align: left;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 0 10px;
  flex-grow: 0;
}

@media (min-width: 600px) {
  .input-container {
    height: auto;
    padding: 1rem 1.5rem;
    border-top: 1px solid #dee2e6;
  }
}

.input-wrapper {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  text-align: left;
  word-wrap: break-word;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (min-width: 600px) {
  .input-wrapper {
    align-items: flex-end;
  }
}

.message-form {
  display: flex;
  width: 100%;
}

.message-input {
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  overflow: visible;
  display: block;
  max-height: 300px;
  padding: .375rem .75rem;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 6px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  margin-bottom: 0;
}

.send-message-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  font-weight: 400;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  margin-left: 12px;
  font-size: 14px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}
