.page-title {
  text-align: center;
  padding-top: 24px;
}

.page-container {
  padding-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 75vh;
  border: solid 1px #eee;
  border-radius: 12px;
  box-shadow: 0 8px 8px rgba(22, 30, 42, 0.16);
}

.left-container {
  width: 300px;
  border-right: solid 1px #eee;
}

.search-box-container {
  height: 55px;
  width: 100%;
}

.search-box-wrapper {
  height: 100%;
  padding: 10px;
}

.form-group {
  height: 100%;
  position: relative;
}

.form-control {
  width: 100%;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 12px;
  outline: none;
}

.form-control:focus {
  color: #000000;
}

.glyphicon-search {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glyphicon-search img {
  width: 20px;
  height: auto;
}

.sidebar-conversations-container {
  padding: 20px 0;
}

.sidebar-message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #eee;
  padding: 10px 15px;
  width: 100%;
  border: none;
  background-color: transparent;
}

.sidebar-message-container:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.sidebar-user-message-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sidebar-info,
.sidebar-message-preview {
  font-size: 14px;
}

.sidebar-info {
  margin-bottom: 8px;
}

.sidebar-message-preview {
  text-align: left;
}

.sidebar-message-preview-unread {
  font-weight: bold;
}

.right-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex:  1;
}

.chat-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chat-image {
  width: 10%;
  height: auto;
}

.user-info {
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: solid 1px #eee;
}

.user-info h5 {
  font-size: 16px;
}

.chat-container {
  height: 100%;
  overflow-y: scroll;
  background-color: #f7f7f7;
  padding: 20px 20px 0 20px;
}

.user-one-container,
.user-two-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.user-two-container {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  background-color: #ffffff;
  border-radius: 12px;
}

.user-one-container {
  flex-direction: row-reverse;
}

.user-one-wrapper {
  width: 70%;
  background-color: #eaeaea;
  border-radius: 12px;
}

.user-message {
  font-size: 14px;
  margin: 15px 20px 0;
  border-radius: 12px;
}

.message-time {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin: 0 15px 5px;
}

.checkmark-one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5px 10px;
}

.checkmark-one:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border:  solid #909090;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkmark-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0 5px 1.5px;
}

.checkmark-two:after {
  content: '';
  display: block;
  width: 3px;
  height: 10.5px;
  border:  solid #909090;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.message-date {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 15px;
}

.input-container {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  text-align: left;
  word-wrap: break-word;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  flex-grow: 0;
  border-top: 1px solid #dee2e6;
}

.input-wrapper {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  text-align: left;
  word-wrap: break-word;
  box-sizing: border-box;
  position: relative;
  display: flex;
  /*flex-direction: column;*/
  align-items: flex-end;
  flex-wrap: wrap;
  /*align-items: stretch;*/
  /*width: 100%;*/
}

.message-form {
  display: flex;
  width: 100%;
}

textarea {
  width: 100%;
  height: 40px;
  line-height: 23px;
  border-radius: 5px;
  resize: none;
  border: 1px solid #ebebeb;
}

.message-input {
  /*width: 100%;*/
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  overflow: visible;
  display: block;
  /*height: calc(1.5em + .75rem + 2px);*/
  max-height: 300px;
  padding: .375rem .75rem;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: relative;
  flex: 1 1 auto;
  /*width: 1%;*/
  min-width: 0;
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.send-message-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  /*display: inline-block;*/
  font-weight: 400;
  text-align: center;
  /*vertical-align: middle;*/
  user-select: none;
  border: 1px solid transparent;
  /*margin-top: 12px;*/
  padding: .375rem .75rem;
  margin-left: 12px;
  font-size: 14px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}
