<div class='flex flex-wrap justify-content-center align-items-flex-start page-container background-green'>
  <div class='box-shadow-1 page-wrapper'>
    <form name='loginForm' onsubmit='handleLogin(event)' novalidate>
      <h1 class='form-title'>Login</h1>

      <div class='form-input-wrapper userEmail-wrapper'>
        <input type='email' class='userEmail' required>
        <span class='userEmail-label'>Email</span>
        <div class='userEmail-error'></div>
      </div>

      <div class='form-input-wrapper userPassword-wrapper'>
        <input type='password' class='userPassword' required>
        <span class='userPassword-label'>Password</span>
        <div class='userPassword-error'></div>
      </div>

      <div class='flex justify-content-center flex-wrap form-button-container'>
        <div class='full-width'>
          <div id='form-button-loading-spinner-wrapper'>
            <button class='flex justify-content-center align-items-center form-submit' type='submit'>
              Login
            </button>
          </div>
        </div>
      </div>

      <div class='form-bottom-container'>
        <a href='/password/request' class='forgot-password'>
          Forgot your password?
        </a>
      </div>
    </form>
  </div>
</div>
