.form-button-container {
  padding: 24px 0;
}

.form-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot-password {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}
