<div class='flex flex-wrap justify-content-center align-items-flex-start page-container background-green'>
  <div class='box-shadow-1 page-wrapper'>
    <form name='resendEmail' onsubmit='handleResendVerificationCode(event)' novalidate>
      <h1 class='form-title'>Enter email address</h1>

      <div class='form-input-wrapper userEmail-wrapper'>
        <input type='email' class='userEmail' required>
        <span class='userEmail-label'>Email</span>
        <div class='userEmail-error'></div>
      </div>

      <div class='flex justify-content-center flex-wrap form-button-container'>
        <div class='full-width'>
          <div id='form-button-loading-spinner-wrapper'>
            <button class='flex justify-content-center align-items-center form-submit' type='submit'>
              Resend Code
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
