@import './select.css';

:root {
  --color-black-1: #000;
  --color-black-2: rgba(0, 0, 0, .7);
  --color-black-3: #323232;
  --color-blue: #3c68d9;
  --color-green: #006C35;
  --color-light-green: #e5f0ea;
  --color-dark-green: #00612f;
  --color-gray: #404040;
  --color-light-gray: #eee;
  --color-dark-gray: #161e2a29;
  --color-red: #ff0000;
  --color-white: #fff;

  --border-color-light: solid 1px var(--color-light-gray);
  --border-color-dark: solid 1px var(--color-dark-gray);
  --border-color-white: solid 1px var(--color-white);
  --border-color-green: solid 1px var(--color-green);
  --border-color-black: solid 1px var(--color-black-3);
  --border-color-error: solid 1px var(--color-red);

  --full-width: 100%;
  --full-height: 100%;

  --form-element-height: 36px;
}

@font-face {
  font-family: Poppins-Regular;
  src: url('/static/client/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('/static/client/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('/static/client/fonts/poppins/Poppins-Bold.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body,
html {
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins-Regular;
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

input {
  outline: none;
  border: none;
  border: var(--border-color-dark);
  border-radius: 5px;
  padding: 15px 10px;
  font-size: 14px;
  width: 100%;
  height: calc(var(--form-element-height) + 2px);
}

input:focus::-webkit-input-placeholder {
  color: var(--color-black-3);
}

input:focus:-moz-placeholder {
  color: var(--color-black-3);
}

input:focus::-moz-placeholder {
  color: var(--color-black-3);
}

input:focus:-ms-input-placeholder {
  color: var(--color-black-3);
}

input::-webkit-input-placeholder {
  color: var(--color-black-3);
}

input:-moz-placeholder {
  color: var(--color-black-3);
}

input::-moz-placeholder {
  color: var(--color-black-3);
}

input:-ms-input-placeholder {
  color: var(--color-black-3);
}

textarea {
  outline: none;
  border: none;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins-Bold;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.14rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

p {
  font-size: 14px;
  font-family: Poppins-Regular;
  padding: 0;
  margin: 0;
}

@media (min-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.17rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.83rem;
  }

  h6 {
    font-size: 0.67rem;
  }

  p {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
}

/* Background colors */
.background-green {
  background: var(--color-green);
}

.background-white {
  background: var(--color-white);
}

/* Box Shadows */
.box-shadow-1 {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Border Radius */
.border-radius-10 {
  border-radius: 10px;
}

/* Colors */
.color-white {
  color: var(--color-white);
}

.color-green {
  color: var(--color-green);
}

.color-gray {
  color: var(--color-gray);
}

/* Flexbox */
.flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-justify-content-flex-start {
  justify-content: flex-start;
}

.flex-justify-content-space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

/* Widths */
.full-width {
  width: var(--full-width);
}

.width-390 {
  width: 390px;
}

/* Heights */
.full-height {
  height: var(--full-height);
}

.position-relative {
  position: relative;
}

.text-align-center {
  text-align: center;
}

button,
.button {
  padding: 10px 40px;
  border-radius: 32px;
}

button,
.button:hover {
  cursor: pointer;
}

.transparent-button {
  background: transparent;
  border: var(--border-color-white);
  transition: all 0.5s ease;
  color: var(--color-white);
}

.transparent-button:hover {
  background: var(--color-white);
  color: var(--color-green);
}

.form-submit {
  border-radius: 25px;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 3px 0;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  outline: none;
  border: var(--border-color-green);
  background: var(--color-green);
  color: var(--color-white);
  transition: all 0.3s ease;
}

.form-submit:hover {
  background: var(--color-dark-green);
}

.main-content {
	position: relative;
  display: flex;
  flex-direction: column;
}

.form-error {
  border: var(--border-color-error);
}

.form-error-border-bottom {
  border-bottom: var(--border-color-error);
}

.overflow-hidden {
  overflow: hidden;
}

/* Page styles */
.page-container,
.legal-page-container {
  width: var(--full-width);
  height: var(--full-height);
  padding: 70px 20px 0;
}

@media (min-width: 600px) {
  .page-container {
    padding: 200px 20px 0;
  }
}

.page-wrapper {
  width: 390px;
  background: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
}

@media (max-width: 325px) {
  .page-wrapper {
    padding: 32px 15px;
  }
}

.form-title {
  padding-bottom: 24px;
  text-align: center;
}

.legal-page-container {
  padding: 70px 0 0;
  height: auto;
}

.legal-page-wrapper {
  max-width: 1140px;
  width: var(--full-width);
  margin: 0 auto;
  padding: 0 20px 30px;
}

@keyframes animation-360-loading-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.section-wrapper {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
  align-items: center;
}

@media (min-width: 900px) {
  .section-wrapper {
    padding: 0 30px;
  }
}

@media (min-width: 1140px) {
  .section-wrapper {
    max-width: 1140px;
    padding: 0 30px;
  }
}

.section-wrapper h2 {
  padding-bottom: 10px;
}
