<!DOCTYPE html>
<html lang='en' class='no-js'>

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B9MK9WFT2Q"></script>
  <script>
    if (!window.location.origin.startsWith('http://localhost')) {
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-B9MK9WFT2Q');
    }
  </script>

  <meta charset='utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>${title}</title>

  <!-- Page styles -->
  ${styles.map(style => `
  <link rel='stylesheet' type='text/css' href='${style}' />`).join('')}

  <!-- Axios CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- js-cookie CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"
    integrity="sha512-Nonc2AqL1+VEN+97F3n4YxucBOAL5BgqNwEVc2uUjdKOWAmzwj5ChdJQvN2KldAxkCxE4OenuJ/RL18bWxGGzA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Order matters -->
  <script type='text/javascript' src='/static/client/views/global-scripts/axios-instance.js'></script>
  <script type='text/javascript' src='/static/client/views/global-scripts/utils.js'></script>
  <script type='text/javascript' src='/static/client/views/global-scripts/api-requests.js'></script>

  <!-- Order doesn't matter -->
  <script type='text/javascript' src='/static/client/views/global-scripts/loading-spinners.js'></script>
  <script type='text/javascript' src='/static/client/views/global-scripts/toasts.js'></script>
  <script type='text/javascript' src='/static/client/views/global-scripts/fingerprint.js'></script>
</head>

<body>
  <div class='full-page-loading-spinner'></div>

  ${nav}
  <div class='main-content'>
    ${body}
    ${footer}
  </div>

  ${scripts.map(script => `
  <script type='text/javascript' src='${script}'></script>`).join('')}

  <script type='text/javascript' src='/static/client/views/landing-pages/_layouts/main.js'></script>
  <script type='text/javascript' src='/static/client/views/global-scripts/handleFocusEvent.js'></script>
</body>

</html>
